<div class="sidebar_panel">
  <div id='contact' class='help_icon'>
    <%= link_to "Contact our <br/>Support Team", "", :rel => "#coming_soon", :class => "sidebar_icon_link tip coming_soon", :title => "Contact Our Support Team" %>
  </div>
  <div id='chat' class='help_icon'>
    <%= link_to "Support Team <br/>Live Chat", messages_path, :class => "sidebar_icon_link tip", :title => "Live Chat" %>
  </div>
  <div id='forum' class='help_icon'>
  <%= link_to "<span class='icon_single_line'>Ideas Forum</span>", client_feedback_path, :class => "sidebar_icon_link tip", :title => "User Forum" %>
  </div>
</div>
<div class="sidebar_panel last">
  <div id='hciu' class='help_icon silver_icon_div'>
    <%= link_to "HCI U<br/><span class='help_icon_sub_text'>Education Program</span>", "http://www.hcinsight.com/insight-university", :target => "_blank", :class => "sidebar_icon_link silver_icon_link tip", :title => "Insight University" %>
  </div>
  <div id='video' class='help_icon silver_icon_div'>
    <%= link_to "<span class='icon_single_line'>Video Tutorials</span>", "", :rel => "#coming_soon", :class => "sidebar_icon_link silver_icon_link tip coming_soon", :title => "Video Tutorials" %>
  </div>
</div>