<div class="help_btn">
  <span class="follow_cross"></span>
  <div>Help Desk 801-285-5910</div>
</div>
<div class="help_sidebar_panel help_sidebar_dark">
  <p>
    HealthCare Insight<br/>
    10897 S. River Front Parkway<br/>
    Suite 200<br/>
    South Jordan, UT 84095<br/>
  </p>
  <p>
    P 801-285-5800<br/>
    F 801-285-5801
  </p>
  <p>
    Operating Hours<br/>
    7:00 A.M. - 6:00 P.M. (MST)<br/>
    Monday - Friday
  </p>
  <p>
    <%= link_to "www.hcinsight.com", "http://www.hcinsight.com", :class => "tip", :title => "Visit hcinsight.com" %>
  </p>
</div>
<div class="help_sidebar_panel help_topics">
  <h3>Browse by Topic</h3>
  <ul class="help_west_list">
    <li><%= link_to "Appeals", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Search Types" %></li>
    <li><%= link_to "Claims", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Claims" %></li>
    <li><%= link_to "Claim Settings", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Appeals" %></li>
    <li><%= link_to "Different Types of Reports", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Report Types" %></li>
    <li><%= link_to "Different Types of Searches", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Report Types" %></li>
    <li><%= link_to "User Settings", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "User Settings" %></li>
  </ul>
</div>