<div class="sidebar_panel white">
  <h2 class="green">Toll Free 801-285-0000</h2>
</div>
<div class="sidebar_panel white">
  <p>
    HealthCare Insight<br/>
    10897 S. River Front Parkway<br/>
    Suite 200<br/>
    South Jordan, UT 84095<br/>
  </p>
  <p>
    P 801-285-5800<br/>
    F 801-285-5801
  </p>
  <p>
    Operating Hours<br/>
    7:00 A.M. - 6:00 P.M. (MST)<br/>
    Monday - Friday
  </p>
  <p>
    <%= link_to "www.hcinsight.com", "http://www.hcinsight.com" %>
  </p>
</div>
  <h3 class="green_header">Browse by Topic</h3>
  <div id="sub_search_params">
    <ul class="help_west_list">
      <li><%= link_to "Different Types of Searches", "#" %></li>
      <li><%= link_to "Claims", "#" %></li>
      <li><%= link_to "Appeals", "#" %></li>
      <li><%= link_to "Different Types of Reports", "#" %></li>
      <li><%= link_to "User Settings", "#" %></li>
      <li><%= link_to "Client Settings", "#" %></li>
    </ul>
  </div>
