<div id="center_help_content_wrap">
  <h3 class="help_list_item">Popular How to Guides and Video Tutorials</h3>
  <h4 class="">How to Guides</h4>
  <ul class="help_list">
    <li class="help_list_item">
      <%= link_to '<div class="tutorial_icon pdf_icon"></div>', "" %>
      <%= link_to '<h5>How do I change my user account settings:</h5>', "" %>
      <p>Nucleus provides easy access to change user account information. Once a account has been set up, you can login using the secure user name and password and select user setting from the top level page navigation. Under the User Setting, you'll find some familiar as well as new features that have been introduced in Nucleus. Depending on your level of access, you can update the setting for individual or groups of users....</p>
    </li>
    <li class="help_list_item">
      <%= link_to '<div class="tutorial_icon doc_icon"></div>', "" %>
      <%= link_to '<h5>Manager account setting:</h5>', "" %>
      <p>Depending on the access provided set up through the system admin, manager account setting provide a broad range of setting to help define access to different areas of the Nucleus application. Managers will find these tools helpful as they assign and adjust needs of anyone who...</p>
    </li>
    <div class="clear"></div>
  </ul>
  <h4 class="">Video Tutorials</h4>
  <ul class="help_list">
    <li class="help_list_item">
      <%= link_to '<div class="tutorial_icon video_icon"></div>', "" %>
      <%= link_to '<h5>Changing general user account setting:</h5>', "" %>
      <p>Depending on your level of access, you can update the setting for general individual users or groups of users. This video provides an easy tool for updating the general user setting...</p>
    </li>
    <li class="help_list_item">
      <%= link_to '<div class="tutorial_icon video_icon"></div>', "" %>
      <%= link_to '<h5>Changing manager user account setting:</h5>', "" %>
      <p>Depending on your level of access, you can update the setting for general individual users or groups of users. This video provides an easy tool for updating the manager user setting...</p>
    </li>
    <div class="clear"></div>
  </ul>
</div>