    <div id="accordion_nav"  class="small_flag_panel">
      <%= link_to "<div class='provider_flag_panel first'><div class='inner_flag_panel statistics'><div class='flag_box red_flag'></div>Statistics</div></div>", "#", :class => "flag_panel", :panel => "suspect_provider" %>
      <%= link_to "<div class='provider_flag_panel'><div class='inner_flag_panel license'><div class='flag_box red_flag'></div>License / Sanction</div></div>", "#", :class => "flag_panel", :panel => "provider_license" %>
      <%= link_to "<div class='provider_flag_panel'><div class='inner_flag_panel address'><div class='flag_box red_flag'></div>Address</div></div>", "#", :class => "flag_panel", :panel => "provider_address" %>
      <%= link_to "<div class='provider_flag_panel'><div class='inner_flag_panel information'><div class='flag_box red_flag'></div>Information</div></div>", "#", :class => "flag_panel", :panel => "provider_information" %>
      <%= link_to "<div class='provider_flag_panel'><div class='inner_flag_panel npi'><div class='flag_box green_flag'></div>NPI/TIN</div></div>", "#", :class => "flag_panel", :panel => "provider_npi" %>
      <%= link_to "<div class='provider_flag_panel'><div class='inner_flag_panel specialty'><div class='flag_box green_flag'></div>Specialty</div></div>", "#", :class => "flag_panel", :panel => "provider_specialty" %>
    </div>