<div id="provider_search_table">
  <table id="provider_search">
    <thead>
      <tr>
        <th>Score</th>
        <th>Note</th>
        <th>Prv Seq</th>
        <th>Provider Name</th>
        <th>TIN</th>
        <th>Spec</th>
        <th>Group Name</th>
        <th>State</th>
        <th>CIU Alerts</th>
        <th>Condition Suspect</th>
        <th>HCI Flagged</th>
      </tr>
    </thead>
    <tbody>
      <% providers.each do |provider| %>
      <tr class='<%=cycle('even', 'odd')%>' id="<%= provider.id %>">
        <td class="provider_search_score"><div class="table_icon table_rating_dot <%= provider.score_color(provider) %>_dot"></div><%= link_to "#{provider.provider_score}", provider_action_path, :class => "tip", :title => "Provider Action" %></td>
        <td class="provider_search_note"><%= link_to 'Claim Note', note_path, :class => 'note_trigger table_icon table_note_icon tip', :title => "Provider Notes", :rel => '#overlay' %></td>
        <td class="provider_search_prv_seq"><%=h provider.sequence_number %></td>
        <td class="provider_search_provider_name"><%= link_to "#{provider.full_name}", provider_path(provider), :class => "tip", :title => "Provider Profile" %></td>
        <td class="provider_search_tin"><%=h provider.tin %></td>
        <td class="provider_search_spec">37</td>
        <td class="provider_search_group_name"><%=h provider.provider_group.name %></td>
        <td class="provider_search_state"><%=h provider.state.abbreviation %></td>
        <td class="provider_search_ciu">Yes</td>
        <td class="provider_search_condition">SBRD</td>
        <td class="provider_search_flagged"></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>