<div id="provider_action_table" class="left">
          <table id="provider_action" cellpadding='0' cellspacing="0">
            <thead>
              <tr>
                <th><%= check_box_tag(:provider_select, 'checked') %></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Note</th>
                <th>Trigger Date</th>
                <th>Condition</th>
                <th>Rank</th>
                <th>Ttl Provider</th>
                <th>Score</th>
                <th>Billed</th>
                <th>Paid</th>
                <th>HCI Remnd Action</th>
                <th>Client Action</th>
              </tr>
            </thead>
            <tbody>
              <% table_data.each do |pc| %>
              <tr id="<%= pc.id %>" class='<%=cycle('even', 'odd')%>' chartType="<%= pc.condition_type.condition_code %>">
                <td class="provider_action_checkbox"><%= check_box_tag(:provider_select, :value => 'checked', :checked => false) %></td>
                <td class="provider_action_toggle"><div class="table_icon table_toggle_icon"></div></td>
                <td class="provider_action_search"><%= link_to '<div class="table_icon table_mag_icon"></div>', "" %></td>
                <td class="provider_action_blank"></td>
                <td class="provider_action_note"><%= link_to 'Claim Note', note_path, :class => 'note_trigger table_icon table_note_icon', :rel => '#overlay' %></td>
                <td class="provider_action_trigger_date"><%= (pc.trigger_date).to_s(:short_date) %></td>
                <td class="provider_action_condition"><%= pc.condition_type.condition_code %> / <%= pc.condition_type.condition_type %></td>
                <td class="provider_action_rank"><%= pc.condition_rank %></td>
                <td class="provider_action_ttl"><%= pc.total_provider %></td>
                <td class="provider_action_score"><%= pc.condition_score %></td>
                <td class="provider_action_billed"><%= number_to_currency(pc.condition_billed) %></td>
                <td class="provider_action_paid"><%= number_to_currency(pc.condition_paid) %></td>
                <td class="provider_action_remnd"><%= pc.hci_action %></td>
                <td class="provider_action_client_action"></td>
              </tr>
              <tr class="table_sub_content" cellpadding='0'>
                <td colspan='16' cellpadding='0' class="empty">
              <div class="table_toggle_content" style="display: none;">
                <% if pc.condition_type.condition_code == "SFRO" %>
                  <%= render :partial => 'condition_stats/sfro_table_expansion', :locals => {:cs => pc.condition_stat} %>
                <% elsif pc.condition_type.condition_code == "SDES" %>
                  <%= render :partial => 'condition_stats/sdes_table_expansion', :locals => {:cs => pc.condition_stat} %>
                <% elsif pc.condition_type.condition_code == "SBRD" %>
                  <%= render :partial => 'condition_stats/sbrd_table_expansion', :locals => {:pc => pc} %>
                <% else %>
                  <%= render :partial => 'condition_stats/base_table_expansion' %>
                <% end %>
              </div>
              </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>