<div id="accordion">
        	<h3 id="provider"><div class="accordion_rating_dot red_dot"></div><a href="#">1. Suspect Provider</a></h3>
        	<div>
        	  <div class="inner_accordion">
              <%= render :partial => "providers/provider_tables/suspect_provider_table" %>
        		</div>
        	</div>
        	<h3 id="provider_client_identifier"><div class="accordion_rating_dot red_dot"></div><a href="#">2. License / Sanction</a></h3>
        	<div>
        	  <div class="inner_accordion">
              <%= render :partial => "providers/provider_tables/provider_license_table" %>
              <%= render :partial => "providers/provider_tables/federal_sanctions_table" %>
              <%= render :partial => "providers/provider_tables/state_sanctions_table" %>
        		</div>
        	</div>
        	<h3 id="provider_score"><div class="accordion_rating_dot red_dot"></div><a href="#">3. Provider Address</a></h3>
        	<div>
        	  <div class="inner_accordion">
              <%= render :partial => 'providers/address_map', :locals => {:m => m, :provider => provider} %>
        		</div>
        	</div>
        	<h3 id="provider_address"><div class="accordion_rating_dot green_dot"></div><a href="#">4. Provider Information</a></h3>
        	<div>
        	  <div class="inner_accordion">
              <%= render :partial => "providers/provider_tables/provider_demographic_table", :locals => {:provider => provider} %>
              <%= render :partial => "providers/provider_tables/provider_credentials_table", :locals => {:provider => provider} %>
              <%= render :partial => "providers/provider_tables/provider_scoring_table", :locals => {:provider => provider} %>
              <%= render :partial => "providers/provider_tables/provider_group_info_table", :locals => {:provider => provider} %>
              <%= render :partial => "providers/provider_tables/provider_address_info_table", :locals => {:provider => provider} %>
        		</div>
        	</div>
        	<h3 id="provider_fraud"><div class="accordion_rating_dot green_dot"></div><a href="#">5. Provider Demographics</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        		ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
        		amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
        		odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
        		</p>
        		</div>
        	</div>
	      	<h3 id="provider_speciality"><div class="accordion_rating_dot green_dot"></div><a href="#">6. Provider NPI</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        		ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
        		amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
        		odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
        		</p>
        		</div>
        	</div>
	      	<h3 id="provider_license"><div class="accordion_rating_dot blue_dot"></div><a href="#">7. Provider DEA</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        		ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
        		amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
        		odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
        		</p>
        		</div>
        	</div>
        	<h3 id="provider_sanctions"><div class="accordion_rating_dot green_dot"></div><a href="#">8. Speciality Information</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer vitae vestibulum sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ipsum eros, blandit vitae blandit non; dapibus sed enim. Donec vel ipsum id lectus porta consequat. Cras feugiat volutpat orci, ut bibendum tellus rhoncus sit amet. Praesent non mauris condimentum eros placerat rutrum vitae a odio! Vivamus elementum sapien sapien. Donec ut egestas erat. Nulla porta mauris nec eros imperdiet consequat. Cras sit amet felis et est sodales cursus ac eu massa. Aliquam convallis eros non dui mollis aliquam. Pellentesque at lectus sed ligula elementum placerat id eget enim. Mauris nec tortor tortor. Donec et ante quis metus imperdiet tempor at ut libero.
        		</p>
        		</div>
        	</div>
        	<h3 id="provider_monitoring"><div class="accordion_rating_dot green_dot"></div><a href="#">9. Hospital Affiliation</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer vitae vestibulum sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ipsum eros, blandit vitae blandit non; dapibus sed enim. Donec vel ipsum id lectus porta consequat. Cras feugiat volutpat orci, ut bibendum tellus rhoncus sit amet. Praesent non mauris condimentum eros placerat rutrum vitae a odio! Vivamus elementum sapien sapien. Donec ut egestas erat. Nulla porta mauris nec eros imperdiet consequat. Cras sit amet felis et est sodales cursus ac eu massa. Aliquam convallis eros non dui mollis aliquam. Pellentesque at lectus sed ligula elementum placerat id eget enim. Mauris nec tortor tortor. Donec et ante quis metus imperdiet tempor at ut libero.
        		</p>
        		</div>
        	</div>
        </div>