    <div class="full_panel grey_panel">
      <%= link_to "<div class='provider_flag_panel'>1. Provider  <div class='flag_box red_flag'></div></div>", "#" %>
      <%= link_to "<div class='provider_flag_panel'>2. Provider Client Identifier  <div class='flag_box red_flag'></div></div>", "#" %>
      <%= link_to "<div class='provider_flag_panel'>3. Provider Score  <div class='flag_box yellow_flag'></div></div>", "#" %>
      <%= link_to "<div class='provider_flag_panel'>4. Provider Address  <div class='flag_box green_flag'></div></div>", "#" %>
      <%= link_to "<div class='provider_flag_panel'>5. Provider Fraud  <div class='flag_box red_flag'></div></div>", "#" %>
      <%= link_to "<div class='provider_flag_panel'>6. Provider Security  <div class='flag_box yellow_flag'></div></div>", "#" %>
      <%= link_to "<div class='provider_flag_panel'>7. Provider NPI  <div class='flag_box red_flag'></div></div>", "#" %>
      <%= link_to "<div class='provider_flag_panel'>8. Provider Sanction  <div class='flag_box green_flag'></div></div>", "#" %>
      <%= link_to "<div class='provider_flag_panel'>9. Provider License  <div class='flag_box green_flag'></div></div>", "#" %>
    </div>