<div class="basic_panel_4 provider_stats">
  <div id="provider_stats">
    <div class="stat_group">
      <div class="stat_title left">Lines</div>
      <div class="stat_value left">
         <%= number_to_percentage(@provider.provider_stat.line_percentage, :precision => 1) %>
      </div>
      <div class="stat_range left">
        <%= @provider.provider_stat.final_line_count %> of <%= @provider.provider_stat.total_line_count %> Lines
      </div>
    </div>
    <div class="stat_group">
      <div class="stat_title left">Procedures</div>
      <div class="stat_value left">
         <%= number_to_percentage(@provider.provider_stat.procedure_percentage, :precision => 1) %>
      </div>
      <div class="stat_range left">
        <%= @provider.provider_stat.final_procedure_count %> of <%= @provider.provider_stat.total_procedure_count %> Procedures
      </div>
    </div>
    <div class="stat_group">
      <div class="stat_title left">Patients</div>
      <div class="stat_value left">
        <%= number_to_percentage(@provider.provider_stat.patient_percentage, :precision => 1) %>
      </div>
      <div class="stat_range left">
        <%= @provider.provider_stat.final_patient_count %> of <%= @provider.provider_stat.total_patient_count %> Patients
      </div>
    </div>
    <div class="stat_group">
      <div class="stat_title left">Claims</div>
      <div class="stat_value left">
        <%= number_to_percentage(@provider.provider_stat.claim_percentage, :precision => 1) %>
      </div>
      <div class="stat_range left">
        <%= @provider.provider_stat.final_claim_count %> of <%= @provider.provider_stat.total_claim_count %> Claims
      </div>
    </div>
    <div class="stat_group">
      <div class="stat_title left">Savings</div>
      <div class="stat_value left">
        <%= number_to_percentage(@provider.provider_stat.savings_percentage, :precision => 1) %>
      </div>
      <div class="stat_range left">
        <%= number_to_currency(@provider.provider_stat.final_savings_count, :precision => 0) %> of <%= number_to_currency(@provider.provider_stat.total_savings_count, :precision => 0) %> Paid
      </div>
    </div>
    <div class="stat_group">
      <div class="stat_title left">Billed</div>
      <div class="stat_value left">
        <%= number_to_percentage(@provider.provider_stat.billed_percentage, :precision => 1) %>
      </div>
      <div class="stat_range left"><%= number_to_currency(@provider.provider_stat.final_billed_count, :precision => 0) %> of <%= number_to_currency(@provider.provider_stat.total_billed_count, :precision => 0) %> Billed
      </div>
    </div>
  </div>
</div>