<div id="accordion">
        	<h3 id="provider"><div class="accordion_rating_dot red_dot"></div><a href="#">1. Suspect Provider</a></h3>
        	<div>
        	  <div class="inner_accordion">
              <%= render :partial => "providers/provider_tables/suspect_provider_table" %>
        		</div>
        	</div>
        	<h3 id="provider_client_identifier"><div class="accordion_rating_dot red_dot"></div><a href="#">2. License / Sanction</a></h3>
        	<div>
        	  <div class="inner_accordion">
              <%= render :partial => "providers/provider_tables/provider_license_table" %>
              <%= render :partial => "providers/provider_tables/federal_sanctions_table" %>
              <%= render :partial => "providers/provider_tables/state_sanctions_table" %>
        		</div>
        	</div>
        	<h3 id="provider_score"><div class="accordion_rating_dot red_dot"></div><a href="#">3. Provider Address</a></h3>
        	<div>
        	  <div class="inner_accordion">
        	    <div class="accordion_content_wrap map_address_wrap">
        	      <ul class="location_listing">
        	        <% provider.locations.each do |location| %>
        	          <div class="provider_location_box <%= cycle('even', 'odd') %>">
        	            <div class="map_icon left">map</div>
                      <div class="top_10_wrap">
                        <h4><%= location.name %></h4><br/>
        	              <ul class="left">
        	                <li><%= location.address %></li>
        	                <li><%= location.city %>, <%= location.state.abbreviation %>, <%= location.zipcode %></li>
        	                <li><%= link_to "Street View", location_path(location), :rel => "#overlay" %></li>
        	              </ul>
        	              <ul class="location_stats">
        	                <li>Type:<br/><b><%= location.location_type %></b></li>
                          <li>Total Claims:<br/><b><%= location.total_claims %></b></li>
                          <li>Total Patients:<br/><b><%= location.total_patients %></b></li>
                          <li>Total Billed:<br/><b><%= location.total_billed %></b></li>
                          <li>Total Paid:<br/><b><%= location.total_paid %></b></li>
        	              </ul>
      	              </div>
        	          </div>
        	          <% end %>
        	     </ul>
        	    </div>
        	    <div class="charts_maps_wrap">
                <%= m.div(:width => 420, :height => 250) %>
              </div>
        		</div>
        	</div>
        	<h3 id="provider_address"><div class="accordion_rating_dot green_dot"></div><a href="#">4. Provider Information</a></h3>
        	<div>
        	  <div class="inner_accordion">
              <p>
                Donec porttitor consectetur ante sit amet interdum. Nam accumsan, augue sagittis molestie malesuada, dolor lectus tempus nunc, sit amet malesuada est urna ac eros. Quisque non sapien risus, quis ultrices ligula. Donec dapibus nisi nec augue luctus egestas! Mauris lacinia, metus non tempor aliquam, est dui tristique nisi, et scelerisque dui leo tristique arcu. Praesent accumsan varius ligula, in facilisis orci tempus sit amet? Nullam lacinia metus aliquam tellus dictum fermentum. Integer tincidunt tincidunt risus at tincidunt. Nunc sollicitudin ornare dolor, a accumsan odio tincidunt vel. Mauris suscipit orci eget nunc tristique a vulputate nisl elementum. Nulla varius elit orci, et lacinia leo? Nunc cursus auctor erat, vel ultricies nulla feugiat a. Nam tellus lectus, molestie ut accumsan sit amet, luctus eget nunc. Integer sapien ante; blandit id fermentum in, posuere eu mauris. Donec nulla eros, cursus vel malesuada vel, pellentesque id augue. Integer facilisis pellentesque aliquam. Morbi dictum sem vitae quam lacinia gravida nec sed ante? Cras a quam at massa faucibus scelerisque. Nulla eu justo elit.</p>

                <p>Praesent tempus, risus vitae scelerisque adipiscing, ante nunc feugiat lacus, in iaculis libero purus vel dolor. Sed vel velit urna. Nunc quis sem arcu. Duis ac nulla at augue facilisis vulputate. Vivamus egestas tristique orci vel bibendum. Donec mattis posuere ultrices. Donec id nulla libero, id molestie sem? In non nulla in nulla mollis blandit. Suspendisse a tortor sit amet mauris faucibus dignissim nec sed ipsum. Fusce eu odio in tellus rhoncus tempus. Mauris varius aliquet mauris, at fermentum velit pulvinar eget! Praesent vitae turpis posuere diam gravida eleifend. Aliquam eget eros sed ante dictum pulvinar. Duis ullamcorper ultrices mauris sit amet rhoncus. Cras cursus bibendum dui, at dapibus magna blandit at. Morbi ut ultricies velit?</p>
        		</div>
        	</div>
        	<h3 id="provider_fraud"><div class="accordion_rating_dot green_dot"></div><a href="#">5. Provider Demographics</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        		ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
        		amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
        		odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
        		</p>
        		</div>
        	</div>
	      	<h3 id="provider_speciality"><div class="accordion_rating_dot green_dot"></div><a href="#">6. Provider NPI</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        		ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
        		amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
        		odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
        		</p>
        		</div>
        	</div>
	      	<h3 id="provider_license"><div class="accordion_rating_dot blue_dot"></div><a href="#">7. Provider DEA</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        		ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
        		amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
        		odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
        		</p>
        		</div>
        	</div>
        	<h3 id="provider_sanctions"><div class="accordion_rating_dot green_dot"></div><a href="#">8. Speciality Information</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer vitae vestibulum sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ipsum eros, blandit vitae blandit non; dapibus sed enim. Donec vel ipsum id lectus porta consequat. Cras feugiat volutpat orci, ut bibendum tellus rhoncus sit amet. Praesent non mauris condimentum eros placerat rutrum vitae a odio! Vivamus elementum sapien sapien. Donec ut egestas erat. Nulla porta mauris nec eros imperdiet consequat. Cras sit amet felis et est sodales cursus ac eu massa. Aliquam convallis eros non dui mollis aliquam. Pellentesque at lectus sed ligula elementum placerat id eget enim. Mauris nec tortor tortor. Donec et ante quis metus imperdiet tempor at ut libero.
        		</p>
        		</div>
        	</div>
        	<h3 id="provider_monitoring"><div class="accordion_rating_dot green_dot"></div><a href="#">9. Hospital Affiliation</a></h3>
        	<div>
        	  <div class="inner_accordion">
        		<p>
        		  Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer vitae vestibulum sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus ipsum eros, blandit vitae blandit non; dapibus sed enim. Donec vel ipsum id lectus porta consequat. Cras feugiat volutpat orci, ut bibendum tellus rhoncus sit amet. Praesent non mauris condimentum eros placerat rutrum vitae a odio! Vivamus elementum sapien sapien. Donec ut egestas erat. Nulla porta mauris nec eros imperdiet consequat. Cras sit amet felis et est sodales cursus ac eu massa. Aliquam convallis eros non dui mollis aliquam. Pellentesque at lectus sed ligula elementum placerat id eget enim. Mauris nec tortor tortor. Donec et ante quis metus imperdiet tempor at ut libero.
        		</p>
        		</div>
        	</div>
        </div>