    <div class="full_panel grey_panel">
      <div class="provider_flag_panel">1. Provider <%= link_to "Danger", '#', :class => "flag_box red_flag" %></div>
      <div class="provider_flag_panel">2. Provider Client Identifier <%= link_to "Danger", '#', :class => "flag_box yellow_flag" %></div>
      <div class="provider_flag_panel last">3. Provider Score <%= link_to "Danger", '#', :class => "flag_box red_flag" %></div>
      <div class="provider_flag_panel">4. Provider Address <%= link_to "Danger", '#', :class => "flag_box red_flag" %></div>
      <div class="provider_flag_panel">5. Provider Fraud <%= link_to "Danger", '#', :class => "flag_box red_flag" %></div>
      <div class="provider_flag_panel last">6. Provider Security <%= link_to "Danger", '#', :class => "flag_box yellow_flag" %></div>
      <div class="provider_flag_panel">7. Provider NPI <%= link_to "Danger", '#', :class => "flag_box green_flag" %></div>
      <div class="provider_flag_panel">8. Provider Sanction <%= link_to "Danger", '#', :class => "flag_box green_flag" %></div>
      <div class="provider_flag_panel last">9. Provider License <%= link_to "Danger", '#', :class => "flag_box yellow_flag" %></div>
    </div>