    <div class="full_panel grey_panel">
      <%= link_to "<div class='provider_flag_panel'>1. Provider  <div class='flag_box red_flag'></div></div>", "#", :class => "flag_panel", :panel => "provider" %>
      <%= link_to "<div class='provider_flag_panel'>2. Provider Client Identifier  <div class='flag_box red_flag'></div></div>", "#", :class => "flag_panel", :panel => "provider_client_identifier" %>
      <%= link_to "<div class='provider_flag_panel'>3. Provider Score  <div class='flag_box yellow_flag'></div></div>", "#", :class => "flag_panel", :panel => "provider_score" %>
      <%= link_to "<div class='provider_flag_panel'>4. Provider Address  <div class='flag_box green_flag'></div></div>", "#", :class => "flag_panel", :panel => "provider_address" %>
      <%= link_to "<div class='provider_flag_panel'>5. Provider Fraud  <div class='flag_box red_flag'></div></div>", "#", :class => "flag_panel", :panel => "provider_fraud" %>
      <%= link_to "<div class='provider_flag_panel'>6. Provider Speciality  <div class='flag_box yellow_flag'></div></div>", "#", :class => "flag_panel", :panel => "provider_speciality" %>
    </div>