<div id="page_header">
  <h2>
    Provider Search
  </h2>
  <ul class="page_nav">
    <li>
      <%= link_to "Claim History", "#", :class => "tip", :title => "Claim History" %>
    </li>
    <li>
      <%= link_to "Condition", provider_action_path(provider), :class => "tip", :title => "Provider Conditions" %>
    </li>
    <li>
      <%= link_to "Refresh", "#", :class => "tip", :title => "Refresh Page" %>
    </li>
    <li>
      <%= link_to "Excel", "#", :class => "tip", :title => "Export to Excel" %>
    </li>
    <li class="last">
      <%= link_to "Print", "#", :class => "tip", :title => "Print Page" %>
    </li>
  </ul>
</div>