<% content_for :page_header do %>
  <%= render :partial => 'providers/search_page_header', :locals => {:provider => @provider} %>
<% end %>
<div id="panel_layout" class="clear">
  <div id="panel_west">
    <div id="inner_west">
      <%= render :partial => 'dashboard/search' %>
    </div>
    <div id="west_resizer">
      <div class="resize_vert tip" title="Collapse/Expand the Search Pref Pane"></div>
    </div>
  </div>
  <div id="panel_center">
      <div id="panel_north">
        <div id="inner_north">
          
          
          <div id="results_chart" class="widget">
          <div class="widget_header">
            <div class="widget_header_top">
              <h3>Provider Results</h3>
            </div>
            <div class="widget_header_bottom">
              <div class='widget_header_sub_title'>
                06/01/10 - 10/31/10
              </div>
              <%= render :partial => 'dashboard/widget_options' %>
            </div>
          </div>
          <div class="widget_content">
            <div id="provider_results_chart" class="clear left">
            
            </div>
          </div>
        </div>
        
          <div class="widget">
          <div class="widget_header">
            <div class="widget_header_top">
              <h3>Provider Information</h3>
            </div>
            <div class="widget_header_bottom">
              <%= render :partial => 'dashboard/widget_options' %>
            </div>
          </div>
          <div id="dynamic_search_content">
            <div id="provider_content" class="widget_content">
            <div class="provider_header">
              <%= render :partial => 'providers/provider_heading', :locals => {:provider => @provider} %>
            </div>
            <div class="stat_box">
              <div class="stat_group group_2">
                <div class="stat_title left">Identified Savings</div>
                <div class="saving_stat left">
                  <div class="stat_dollar stat_flag_dollar"></div>
                  2,048,157
                </div>
              </div>
              <div class="stat_group group_2">
                <div class="stat_title left">Accepted Savings</div>
                <div class="saving_stat left">
                  <div class="stat_dollar stat_flag_dollar"></div>
                  2,048,157
                </div>
              </div>
            </div>

            <div class="stat_box">
              <div class="stat_group">
              <div class="stat_title left">Patients</div>
              <div class="stat_value left">
                <%= number_to_percentage(@provider.provider_stat.patient_percentage, :precision => 1) %>
                <div class="stat_flag stat_flag_red"></div>
              </div>
              <div class="stat_range left">
                <%= @provider.provider_stat.final_patient_count %> of <%= @provider.provider_stat.total_patient_count %> Patients
              </div>
            </div>
              <div class="stat_group">
              <div class="stat_title left">Claims</div>
              <div class="stat_value left">
                <%= number_to_percentage(@provider.provider_stat.claim_percentage, :precision => 1) %>
                <div class="stat_flag stat_flag_red"></div>
              </div>
              <div class="stat_range left"><%= @provider.provider_stat.final_claim_count %> of <%= @provider.provider_stat.total_claim_count %> Claims</div>
            </div>
            </div>
          </div>
          </div>
        </div>

        </div>
     </div>
     <div id="panel_south" class="ui-layout-south">
        <div id="south_resizer">
          <div class="resize_horz tip" title="Collapse/Expand the top pane"></div>
        </div>
        <div class="drag_row"><span>Drag a column header and drop it here to group by that column</span></div>
        <%= render :partial => "providers/provider_search_table", :locals => {:providers => @providers} %>
      </div>
    <div class="clear"></div>
  </div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var $table = $("#data_table")
      app.panelLayoutWidthHeight();
      <% if ipad? %>
      scroll.setTableScroll($table);
      <% end %> 
      app.tutorialTrigger();
      app.noteTrigger();
      panels.toggleResultsChart();
      adminAction.setupCalendars();
      $.getScript('/javascripts/data/providerResults.js');
    });
  </script>
<% end %>