<%= render :partial => 'providers/search_page_header' %>
<div id="panel_layout">
  <div id="panel_west" class="ui-layout-west">
    <%= render :partial => 'dashboard/search' %>
    <div id="west_resizer">
      <div class="resize_vert"></div>
    </div>
  </div>
  <div id="panel_main" class="panel ui-layout-center">
    <div class="panel_set">
      <div class="basic_panel">
        <h3>Provider Results</h3>
        <div id="provider_results_chart" class="clear left"></div>
      </div>
    </div>
    <div class="panel_set">
      <div class="basic_panel">
        <h3>Provider Name: <span>John Doe</span></h3>
        <div id="provider_rating" class="red_rating">99</div>
      </div>
      <div class="combo_panel">
        <div class="sub_panel">
        <h4>Provider Sequence: <span>101896</span></h4><h4>Primary Specialty: <span>37</span></h4>
        </div>
        <div class="sub_panel">
          <div id="provider_stats">
            <div class="stat_group">
              <div class="stat_title left">Patients</div>
              <div class="stat_value left">25.7%</div>
              <div class="stat_range left">130 of 506 Patients</div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Claims</div>
              <div class="stat_value left">18.3%</div>
              <div class="stat_range left">25 of 134 Patients</div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Savings</div>
              <div class="stat_value left">23.5%</div>
              <div class="stat_range left">$12,766 of $54,326 Paid</div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Billed</div>
              <div class="stat_value left">34.2%</div>
              <div class="stat_range left">$328,728 of $983,973 Billed</div>
            </div>
          </div>
        </div>
        <div class="sub_panel last">
          <div class="right">
          <% form_tag providers_path, :method => :get do %>
            <%= collection_select(:provider_stat_date_range, :date_range_id, SearchTopic.all, :id, :name, {:prompt => "Date Range"}) %><br/>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="panel_south" class="ui-layout-south">
      <div id="south_resizer">
        <div class="resize_horz"></div>
        <div class="drag_row"><span>Drag & drop a column header here to group by that column.</span></div>
        <div id="provider_search_table">
          <table id="provider_search">
            <thead>
              <tr>
                <th>Score</th>
                <th>Note</th>
                <th>Prv Seq</th>
                <th>Provider Name</th>
                <th>TIN</th>
                <th>Spec</th>
                <th>Group Name</th>
                <th>State</th>
                <th>CIU Alerts</th>
                <th>Condition Suspect</th>
                <th>HCI Flagged</th>
              </tr>
            </thead>
            <tbody>
              <% 10.times do %>
              <tr class='<%=cycle('even', 'odd')%>'>
                <td class="provider_search_score"><div class="table_icon table_rating_dot green_dot"></div>100</td>
                <td class="provider_search_note"><%= link_to '<div class=" table_icon table_note_icon"></div>', '#' %></td>
                <td class="provider_search_prv_seq">101896<div class="table_icon table_lock_icon"></td>
                <td class="provider_search_provider_name">John Doe</td>
                <td class="provider_search_tin">391824445</td>
                <td class="provider_search_spec">37</td>
                <td class="provider_search_group_name">UW Medical Foundation</td>
                <td class="provider_search_state">WI</td>
                <td class="provider_search_ciu">Yes</td>
                <td class="provider_search_condition">SBRD</td>
                <td class="provider_search_flagged"></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'providerSearch' %>
<% end %>