<%= render :partial => 'providers/search_page_header', :locals => {:provider => @provider} %>
<div id="panel_layout" class="clear">
  <div id="panel_west" class="ui-layout-west">
    <%= render :partial => 'dashboard/search' %>
    <div id="west_resizer">
      <div class="resize_vert"></div>
    </div>
  </div>
  <div id="panel_center" class="panel ui-layout-center">
    <div id="inner_panel">
      <div class="panel_set">
      <div class="basic_panel">
        <h3>Provider Results</h3>
        <div id="provider_results_chart" class="clear left"></div>
      </div>
    </div>
      <div class="panel_set">
      <div class="basic_panel">
        <%= render :partial => 'providers/provider_heading', :locals => {:provider => @provider} %>
      </div>
      <div class="combo_panel">
        <div class="sub_panel">
        <h4>Provider Sequence: <span><%= @provider.sequence_number %></span></h4><h4>Primary Specialty: <span>37</span></h4>
        </div>
        <div class="sub_panel">
          <div id="provider_stats">
            <div class="stat_group">
              <div class="stat_title left">Patients</div>
              <div class="stat_value left">25.7%</div>
              <div class="stat_range left">130 of 506 Patients</div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Claims</div>
              <div class="stat_value left">18.3%</div>
              <div class="stat_range left">25 of 134 Patients</div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Savings</div>
              <div class="stat_value left">23.5%</div>
              <div class="stat_range left">$12,766 of $54,326 Paid</div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Billed</div>
              <div class="stat_value left">34.2%</div>
              <div class="stat_range left">$328,728 of $983,973 Billed</div>
            </div>
          </div>
        </div>
        <div class="sub_panel last">
          <div class="right">
          <% form_tag providers_path, :method => :get do %>
            <%= collection_select(:provider_stat_date_range, :date_range_id, SearchTopic.all, :id, :name, {:prompt => "Date Range"}) %><br/>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div id="panel_south" class="ui-layout-south">
      <div id="south_resizer">
        <div class="resize_horz"></div>
        <div class="drag_row"><span>Drag & drop a column header here to group by that column.</span></div>
          <%= render :partial => "providers/provider_search_table", :locals => {:providers => @providers} %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag "providerSearch" %>
<% end %>