<%= render :partial => 'providers/search_page_header', :locals => {:provider => @provider} %>
<div id="panel_layout" class="clear">
  <div id="panel_west" class="ui-layout-west">
    <div id="inner_west">
      <%= render :partial => 'dashboard/search' %>
    </div>
    <div id="west_resizer">
      <div class="resize_vert"></div>
    </div>
  </div>
  <div id="panel_center" class="panel ui-layout-center">
    <div id="inner_panel">
      <div id="panel_north">
      <div class="panel_set">
        <div id="results_chart" class="basic_panel results_chart">
          <div class="module_header">
            <h3>Provider Results</h3>
            <%= render :partial => 'dashboard/widget_options' %>
          </div>
          <div id="provider_results_chart" class="clear left"></div>
          <div class="panel_footer">
            <div id="provider_results_chart_footer" class="resize_horz pane_handle_toggle"></div>
          </div>
        </div>
      </div>
      <div id="provider_content" class="panel_set">
        <div class="basic_panel">
          <%= render :partial => 'providers/provider_heading', :locals => {:provider => @provider} %>
        </div>
        <div class="combo_panel">
          <div id="provider_header" class="sub_panel">
            <h4>Provider Sequence: <span><%= @provider.sequence_number %></span></h4>
            <h4 class="search_speciality">Primary Specialty: <span id="speciality_code" title="<%= @provider.provider_speciality.speciality_type %>"><%= @provider.provider_speciality.speciality_code %></span></h4>
          </div>
          <div class="sub_panel">
          <div id="provider_stats">
            <h3>Flagged Condition Statistics</h3>
            <div class="stat_group">
              <div class="stat_title left">Patients</div>
              <div class="stat_value left">
                <%= number_to_percentage(@provider.provider_stat.patient_percentage, :precision => 1) %>
                <div class="stat_flag stat_flag_red"></div>
              </div>
              <div class="stat_range left">
                <%= @provider.provider_stat.final_patient_count %> of <%= @provider.provider_stat.total_patient_count %> Patients
              </div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Claims</div>
              <div class="stat_value left">
                <%= number_to_percentage(@provider.provider_stat.claim_percentage, :precision => 1) %>
                <div class="stat_flag stat_flag_red"></div>
              </div>
              <div class="stat_range left"><%= @provider.provider_stat.final_claim_count %> of <%= @provider.provider_stat.total_claim_count %> Claims</div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Exposure</div>
              <div class="stat_value left">
                <%= number_to_percentage(@provider.provider_stat.savings_percentage, :precision => 1) %>
                <div class="stat_flag stat_flag_yellow"></div>
              </div>
              <div class="stat_range left"><%= number_to_currency(@provider.provider_stat.final_savings_count, :precision => 0) %> of <%= number_to_currency(@provider.provider_stat.total_savings_count, :precision => 0) %> Paid</div>
            </div>
            <div class="stat_group">
              <div class="stat_title left">Billed</div>
              <div class="stat_value left">
                <%= number_to_percentage(@provider.provider_stat.billed_percentage, :precision => 1) %>
                <div class="stat_flag stat_flag_orange"></div>
              </div>
              <div class="stat_range left"><%= number_to_currency(@provider.provider_stat.final_billed_count, :precision => 0) %> of <%= number_to_currency(@provider.provider_stat.total_billed_count, :precision => 0) %> Billed</div>
            </div>
          </div>
        </div>
        <div class="sub_panel last">
          <!-- <div class="right">
          <%# form_tag providers_path, :method => :get do %>
            <%#= collection_select(:provider_stat_date_range, :date_range_id, SearchTopic.all, :id, :name, {:prompt => "Date Range"}) %>
            <%#= submit_tag "Submit", :class => "medium_btn" %>
          <%# end %>
          </div> -->
        </div>
      </div>
    </div>
    </div>
    <div id="panel_south" class="ui-layout-south">
      <div id="south_resizer">
        <div class="resize_horz"></div>
      </div>
      <div class="drag_row"><span>Drag & drop a column header here to group by that column.</span></div>
      <%= render :partial => "providers/provider_search_table", :locals => {:providers => @providers} %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      baseActions.tutorialTrigger();
      panels.westResizeTrigger();
      panels.northResizeTrigger();
      panels.toggleResultsChart();
      adminAction.setupCalendars();
      $.getScript('/javascripts/data/providerResults.js');
    });
  </script>
<% end %>