<%= render :partial => 'providers/action_page_header' %>
<div id="panel_layout">
  <div id="panel_main_full" class="panel ui-layout-center">
    <div class="panel_set_2">
      <%= render :partial => 'providers/provider_info' %>
    </div>
    <div class="panel_set">
      <%= render :partial => 'providers/provider_action_stats' %>
    </div>
    <div class="panel_set_3">
      <div class="basic_panel_3 provider_chart">
        <div id="provider_action_chart" class="clear left"></div>
      </div>
    </div>
    <div id="panel_south" class="ui-layout-south">
      <div id="south_resizer">
        <div class="resize_horz"></div>
        <div class="table_select">
          <% form_tag providers_path, :method => :get do %>
            <%= collection_select(:provider_table_action, :action_id, SearchTopic.all, :id, :name, {:prompt => "Action"}) %><br/>
          <% end %>
        </div>
        <div class="drag_row"><span>Drag & drop a column header here to group by that column.</span></div>
        <%= render :partial => 'provider_action_table' %>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'providerAction' %>
<% end %>