<%= render :partial => 'providers/action_page_header', :locals => {:provider => @provider} %>
<div id="panel_layout" class="clear">
  <div id="inner_panel" class="panel ui-layout-center">
    <div class="panel_set_2">
      <%= render :partial => 'providers/provider_info', :locals => {:provider => @provider} %>
    </div>
    <div class="panel_set_4">
      <%= render :partial => 'providers/provider_action_stats', :locals => {:provider => @provider} %>
    </div>
    <div class="panel_set_3">
      <div class="basic_panel_3 provider_chart">
        <div id="provider_action_chart" class="clear left"></div>
      </div>
    </div>
    <div id="panel_south" class="ui-layout-south">
      <div id="south_resizer">
        <div class="resize_horz"></div>
      </div>
      <div class="table_select left">
        <% form_tag provider_search_path, :method => :get do %>
          <%= select(:search, :search_value, @action_types.action_types, :prompt => 'Action' ) %>
          <%= submit_tag "Submit", :class => "medium_btn" %>
        <% end %>
      </div>
      <div class="drag_row left"><span>Drag &amp; drop a column header here to group by that column.</span></div>
      <%= render :partial => 'provider_action_table', :locals => {:provider => @provider, :table_data => @provider_conditions} %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
<script type="text/javascript" charset="utf-8">
  var actionChart;
</script>
<% end %>