<div class="dashboard_basic_panel">
  <div class="top_provider_block pro_pop_risk saving_opp_header risk_high">
    
  </div>
  <div class="top_provider_block pro_pop_exp">
    <h3>$200,551.00</h3>
  </div>
  <div class="top_provider_block pro_pop_prov">
    <%= link_to "73", "" %>
  </div>
  <div class="top_provider_block pro_pop_percent">
    2.5%
  </div>
</div>

<div class="dashboard_basic_panel">
  <div class="top_provider_block pro_pop_risk saving_opp_header risk_elevated">
    
  </div>
  <div class="top_provider_block pro_pop_exp">
    <h3>$212,889.00</h3>
  </div>
  <div class="top_provider_block pro_pop_prov">
    <%= link_to "297", "" %>
  </div>
  <div class="top_provider_block pro_pop_percent">
    6.8%
  </div>
</div>

<div class="dashboard_basic_panel">
  <div class="top_provider_block pro_pop_risk saving_opp_header risk_low">
    
  </div>
  <div class="top_provider_block pro_pop_exp">
    <h3>$214,568.00</h3>
  </div>
  <div class="top_provider_block pro_pop_prov">
    <%= link_to "463", "" %>
  </div>
  <div class="top_provider_block pro_pop_percent">
    11.6%
  </div>
</div>

<div class="dashboard_basic_panel">
  <div class="top_provider_block pro_pop_risk saving_opp_header risk_mod">
    
  </div>
  <div class="top_provider_block pro_pop_exp">
    <h3>$197,565.00</h3>
  </div>
  <div class="top_provider_block pro_pop_prov">
    <%= link_to "2,449", "" %>
  </div>
  <div class="top_provider_block pro_pop_percent">
    80%
  </div>
</div>

<div class="dashboard_basic_panel">
  <div class="top_provider_block pro_pop_risk saving_opp_header risk_high">
    
  </div>
  <div class="top_provider_block pro_pop_exp">
    <h3>$184,565.00</h3>
  </div>
  <div class="top_provider_block pro_pop_prov">
    <%= link_to "3,487", "" %>
  </div>
  <div class="top_provider_block pro_pop_percent">
    35%
  </div>
</div>
