    <div id="top_search">
      <% form_tag providers_path, :method => :get do %>
        <%= collection_select(:search, :search_topic_id, SearchTopic.all, :id, :name, {:prompt => "Quick Search"}) %><br/>
        <div id="search_buttons">
          <%= link_to "Clear Filters", "", :id => "search_clear" %>
          <%= submit_tag "Search", :name => nil, :class => 'medium_btn' %>
        </div>
        <h3 class="grey_header">Search Filters</h3>
        <div id="sub_search_params">
          <p>
          <%= label_tag "Provider Sequence"%>
          <%= text_field_tag :provider_sequence %><%= link_to "Batch Advanced", "", :id => "batch_filter_mag", :class => "search_mag" %>
          </p>
          <p>
          <%= label_tag "Provider Tax ID"%>
          <%= text_field_tag :provider_tax_id %>
          </p>
          <p>
          <%= label_tag "Provider #"%>
          <%= text_field_tag :provider_number %>
          </p>
          <p>
          <%= label_tag "Provider Name"%>
          <%= text_field_tag :provider_name %>
          </p>
          <p>
          <%= label_tag "Provider First Name"%>
          <%= text_field_tag :provider_first_name %>
          </p>
          <p>
          <%= label_tag "Provider Last Name"%>
          <%= text_field_tag :provider_last_name %>
          </p>
          <p>
          <%= label_tag "Group Provider Name"%>
          <%= text_field_tag :group_provider_name %>
          </p>
          <p>
          <%= label_tag "Group Provider Tax ID"%>
          <%= text_field_tag :group_provider_tax_id %>
          </p>
          <p>
          <%= label_tag "Triggered Date"%>
          <%= text_field_tag :trigger_start_date, nil, {:id => "trigger_start_date", :size => 15} %>
          <%= text_field_tag :trigger_end_date, nil, {:id => "trigger_end_date", :size => 15} %>
          </p>
          <p>
          <%= label_tag "Composite Score" %><br/>
          <%= text_field_tag :composite_score %>
          </p>
          <p>
          <%= label_tag "Speciality"%>
          <%= text_field_tag :speciality %>
          </p>
        </div>
      <% end %>
    </div>