<div class="dashboard_basic_panel">
  <div class="top_provider_block saving_opp_product saving_opp_header pci">
    <h3><%= link_to "PCI", ""%></h3>
  </div>
  <div class="top_provider_block saving_opp_est">
    <h3>$200,551.00</h3>
  </div>
  <div class="top_provider_block saving_opp_product">
    <%= link_to "2,135,990", "" %>
  </div>
  <div class="top_provider_block">
    <%= link_to "Yes", "" %> | <%= link_to "No", "" %>
  </div>
</div>

<div class="dashboard_basic_panel">
  <div class="top_provider_block saving_opp_product saving_opp_header cra">
    <h3><%= link_to "FFP", ""%></h3>
  </div>
  <div class="top_provider_block saving_opp_est">
    <h3>$200,551.00</h3>
  </div>
  <div class="top_provider_block saving_opp_product">
    <%= link_to "456,784", "" %>
  </div>
  <div class="top_provider_block">
    <%= link_to "Yes", "" %> | <%= link_to "No", "" %>
  </div>
</div>

<div class="dashboard_basic_panel">
  <div class="top_provider_block saving_opp_product saving_opp_header fci">
    <h3><%= link_to "FCI", ""%></h3>
  </div>
  <div class="top_provider_block saving_opp_est">
    <h3>$212,889.00</h3>
  </div>
  <div class="top_provider_block saving_opp_product">
    <%= link_to "897", "" %>
  </div>
  <div class="top_provider_block">
    <%= link_to "Yes", "" %> | <%= link_to "No", "" %>
  </div>
</div>

<div class="dashboard_basic_panel">
  <div class="top_provider_block saving_opp_product saving_opp_header oci ">
    <h3><%= link_to "OCI", ""%></h3>
  </div>
  <div class="top_provider_block saving_opp_est">
    <h3>$214,568.00</h3>
  </div>
  <div class="top_provider_block saving_opp_product">
    <%= link_to "2,523", "" %>
  </div>
  <div class="top_provider_block">
    <%= link_to "Yes", "" %> | <%= link_to "No", "" %>
  </div>
</div>

<div class="dashboard_basic_panel">
  <div class="top_provider_block saving_opp_product saving_opp_header rxi">
    <h3><%= link_to "RxI", ""%></h3>
  </div>
  <div class="top_provider_block saving_opp_est">
    <h3>$197,565.00</h3>
  </div>
  <div class="top_provider_block saving_opp_product">
    <%= link_to "3,487", "" %>
  </div>
  <div class="top_provider_block">
    <%= link_to "Yes", "" %> | <%= link_to "No", "" %>
  </div>
</div>
