<div class="widget_table_data">
  <div class="widget_data risk pci">
    <h3><%= link_to "PCI", ""%></h3>
  </div>
  <div class="widget_data exp">
   <h3>$200,551.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "2,135,990", "" %>
  </div>
  <div class="widget_data percentage">
    <%= link_to "Request", "" %>
  </div>
</div>

<div class="widget_table_data">
  <div class="widget_data risk cra">
    <h3><%= link_to "FFP", ""%></h3>
  </div>
  <div class="widget_data exp">
   <h3>$200,551.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "456,784", "" %>
  </div>
  <div class="widget_data percentage">
    <%= link_to "Request", "" %>
  </div>
</div>

<div class="widget_table_data">
  <div class="widget_data risk fci">
    <h3><%= link_to "FCI", ""%></h3>
  </div>
  <div class="widget_data exp">
   <h3>$200,551.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "897", "" %>
  </div>
  <div class="widget_data percentage">
    <%= link_to "Request", "" %>
  </div>
</div>

<div class="widget_table_data">
  <div class="widget_data risk oci">
    <h3><%= link_to "FCI", ""%></h3>
  </div>
  <div class="widget_data exp">
  <h3>$214,568.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "2,523", "" %>
  </div>
  <div class="widget_data percentage">
    <%= link_to "Request", "" %>
  </div>
</div>

<div class="widget_table_data">
  <div class="widget_data risk rxi">
    <h3><%= link_to "RxI", ""%></h3>
  </div>
  <div class="widget_data exp">
  <h3>$214,568.00</h3>
  </div>
  <div class="widget_data prov">
    <%= link_to "3,487", "" %>
  </div>
  <div class="widget_data percentage">
    <%= link_to "Request", "" %>
  </div>
</div>