<div class="dashboard_widget_options">
  <ul>
    <li><%= link_to "Email", "", :class => "widget_option email_option tip", :title => "Email Widget" %></li>
    <li><%= link_to "Settings", "", :class => "widget_option settings_option tip", :title => "Settings Panel" %></li>
    <li><%= link_to "Export", "", :class => "widget_option export_option tip", :title => "Export Widget" %></li>
    <li><%= link_to "Maximize", "", :class => "widget_option maximize_option provider_container_trigger tip", :title => "Maximize Widget" %></li>
    <li><%= link_to "Close", "", :class => "widget_option close_option tip", :title => "Close Widget" %></li>
  </ul>
</div>