<%= render :partial => 'dashboard/dashboard_header' %>
<div id="panel_layout" class="clear">
  <div id="dashboard_options" class="hidden">
    <h2 class="header">Dashboard Options</h2>
    <%= render :partial => "clients/dashboard_options", :locals => {:dashboard_widgets => @dashboard_widgets} %>
    <%= link_to "Close", "", :class => "options_panel_close" %>
  </div>
  <div id="dashboard">
    <ul id="tab_nav" class="main">
      <li class="active"><%= link_to "Page 1", "#page1" %></li>
      <li><%= link_to "Page 2", "#page2" %></li>
      <li><%= link_to "Page 3", "#page3" %></li>
    </ul>
    <div id="page1" class="dash_panel">
      <%= render :partial => 'dashboard_widgets/dash1', :locals => {:top_providers => @top_providers} %>
      <%= render :partial => 'dashboard_widgets/dash2' %>
      <%= render :partial => 'dashboard_widgets/dash3' %>
      <%= render :partial => 'dashboard_widgets/dash4' %>
    </div>
    <div id="page2" class="dash_panel hidden">
      <%= render :partial => 'dashboard_widgets/dash5', :locals => {:p => p} %>
      <%= render :partial => 'dashboard_widgets/dash6', :locals => {:p => p} %>
    </div>
    <div id="page3" class="dash_panel hidden">
      <%= render :partial => 'dashboard_widgets/dash5', :locals => {:p => p} %>
      <%= render :partial => 'dashboard_widgets/dash7', :locals => {:top_providers => @top_providers} %>
    </div>
  </div>
  <div class="clear"></div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var $dash = $("#dashboard");
      widget.dashboardOptions('#dashboard_options');
      widget.widgetOptions($dash);
      drag.setupDashboardPanels($dash, "dashboardCookie", 1000);
      drag.loadQuickLaunchOrder($dash, "dashboardCookie");
      panels.dashTabs();
      baseActions.tutorialTrigger();
      widget.getFeeds();
      // Scatter Plot
      $.getScript('javascripts/data/scatterData.js');
      // Bar Graph
      $.getScript('javascripts/data/barData.js');
      // Line Chart
      $.getScript('javascripts/data/lineData.js');
      // Pie Chart
      $.getScript('javascripts/data/provider_action_summary_dashboard.js');
      
    });
  </script>
<% end %>