<% page_title "Nucleus Dashboard"%>

<% content_for :page_header do %>
  <%= render :partial => 'dashboard/dashboard_header' %>
<% end %>

<div id="panel_layout" class="clear">
  
  <%# Dashboard Options %>
  <%= render :partial => "clients/dashboard_options" %>
  
  
  <div id="dashboard">
    <ul id="tab_nav" class="main">
      <li class="active"><%= link_to "Page 1", "#page1" %></li>
      <li><%= link_to "Page 2", "#page2" %></li>
      <li><%= link_to "Page 3", "#page3" %></li>
    </ul>
    <div id="page1" class="dash_panel">
      <%= render :partial => 'dashboard_widgets/dash1', :locals => {:top_providers => @top_providers} %>
      <%= render :partial => 'dashboard_widgets/dash2' %>
      <%= render :partial => 'dashboard_widgets/dash3' %>
      <%= render :partial => 'dashboard_widgets/dash4' %>
    </div>
    <div id="page2" class="dash_panel hidden">
      <%= render :partial => 'dashboard_widgets/dash5', :locals => {:p => p} %>
      <%= render :partial => 'dashboard_widgets/dash6', :locals => {:p => p} %>
    </div>
    <div id="page3" class="dash_panel hidden">
      <%= render :partial => 'dashboard_widgets/dash5', :locals => {:p => p} %>
      <%= render :partial => 'dashboard_widgets/dash7', :locals => {:top_providers => @top_providers} %>
    </div>
  </div>
  <div class="clear"></div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var $dash = $("#dashboard");
      var $page1 = $("#page1");
      var $page2 = $("#page2");
      var $page3 = $("#page3");

      widget.dashboardOptions('#dashboard_options');
      widget.widgetOptions($dash);
      <% if !ipad? %>
        drag.setupDashboardPanels($page1, "dashPage1", 1000);
        drag.setupDashboardPanels($page2, "dashPage2", 1000);
        drag.setupDashboardPanels($page3, "dashPage3", 1000);
        drag.loadDashboardLaunchOrder($page1, "dashPage1");
        drag.loadDashboardLaunchOrder($page2, "dashPage2");
        drag.loadDashboardLaunchOrder($page3, "dashPage3");
      <% end %>
      <% if ipad? %>
        scroll.setNewsScroll();
      <% end %>
      panels.dashTabs();
      app.tutorialTrigger();
      widget.getFeeds();
      // Scatter Plot
      $.getScript('javascripts/data/scatterData.js');
      // Bar Graph
      $.getScript('javascripts/data/barData.js');
      // Line Chart
      // $.getScript('javascripts/data/lineData.js');
      // Pie Chart
      $.getScript('javascripts/data/provider_action_summary_dashboard.js');
      
    });
  </script>
<% end %>