<%= render :partial => 'dashboard/dashboard_header' %>
<div id="panel_layout" class="clear">
  <div id="dashboard_options" class="hidden">
    <h2 class="header">Dashboard Options</h2>
    <%= render :partial => "clients/dashboard_options", :locals => {:dashboard_widgets => @dashboard_widgets} %>
    <%= link_to "Close", "", :class => "options_panel_close" %>
  </div>
  <div id="dashboard">
    <%= render :partial => 'dashboard_widgets/dash1', :locals => {:top_providers => @top_providers} %>
    
    <%= render :partial => 'dashboard_widgets/dash2' %>

    <%= render :partial => 'dashboard_widgets/dash3' %>

    <%= render :partial => 'dashboard_widgets/dash4' %>

    <%= render :partial => 'dashboard_widgets/dash5', :locals => {:p => p} %>

    <%= render :partial => 'dashboard_widgets/dash6', :locals => {:p => p} %>
  </div>
  <div class="clear"></div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.scroll_nav_trigger').live('click', function(e) {
        scroll.setScroll($(this));
        e.preventDefault();
      });
      var $dash = $("#dashboard");
      widget.dashboardOptions('#dashboard_options');
      widget.widgetOptions($dash);
      baseActions.tutorialTrigger();
      drag.setupDashboardPanels($dash, "dashboardCookie", 1000);
      drag.loadQuickLaunchOrder($dash, "dashboardCookie");
        
      // Scatter Plot
      $.getScript('javascripts/data/scatterData.js');
      // Bar Graph
      $.getScript('javascripts/data/barData.js');
      // Line Chart
      $.getScript('javascripts/data/lineData.js');
      // Pie Chart
      $.getScript('javascripts/data/provider_action_summary_dashboard.js');
      
    });
  </script>
<% end %>