<%= render :partial => 'dashboard/dashboard_header' %>
<div id="panel_layout" class="clear">
  <div id="dashboard_options" class="hidden">

  </div>
  <div id="dashboard">
    <div id="dash1" class="top_left_dashboard graph_box">
      <div class="dashboard_module_header top_provider_block">
        <h3>Top 10 Flagged Providers by Score</h3>
        <%= render :partial => 'dashboard/widget_options' %>
      </div>
      <div class="hidden dashboard_panel_options">Dash 1</div>
      <div class="widget_content">
        <div id="panel_header" class="basic_panel">
         <%= render :partial => 'dashboard/dashboard_top_provider_heading', :locals => {:provider => p} %>
        </div>
        <% @top_providers.each do |p| %>
        <div id="dashboard_providers" class="dashboard_basic_panel">
          <%= render :partial => 'providers/provider_dashboard_heading', :locals => {:provider => p} %>
        </div>
        <% end %>
      </div>
      <div class="widget_footer"></div>
    </div>
    
    <div id="dash2" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        <h3>Provider Distribution by Score</h3>
        <%= render :partial => 'dashboard/widget_options' %>
      </div>
      <div class="hidden dashboard_panel_options">Dash 2</div>
      <div class="widget_content">
      <div id="scatter_chart" class="chart">

      </div>
      </div>
      <div class="widget_footer"></div>
    </div>
    
    <div id="dash3" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        <h3>Savings Tracker by Month</h3>
        <%= render :partial => 'dashboard/widget_options' %>
      </div>
      <div class="hidden dashboard_panel_options">Dash 3</div>
      <div class="widget_content">
      <div id="savings_tracker" class="chart">

      </div>
      </div>
      <div class="widget_footer"></div>
    </div>
    
    <!-- <div id="dash4" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        Indentified Savings vs. Accepted Savings
      </div>
      <div id="bottom_right_chart" class="chart">

      </div>
    </div> -->
    
    <div id="dash4" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        <h3>Provider Action Summary</h3>
        <%= render :partial => 'dashboard/widget_options' %>
      </div>
      <div class="hidden dashboard_panel_options">Dash 4</div>
      <div class="widget_content">
      <div id="pie_chart" class="chart">

      </div>
      </div>
      <div class="widget_footer"></div>
    </div>
    
    <div id="dash5" class="dashboard_module graph_box">
      <div class="dashboard_module_header top_provider_block">
        <h3>Provider Population by Risk Category</h3>
        <%= render :partial => 'dashboard/widget_options' %>
      </div>
      <div class="hidden dashboard_panel_options">Dash 5</div>
      <div class="widget_content">
      <div id="bottom_right_chart" class="chart">

      </div>
      </div>
      <div class="widget_footer"></div>
    </div>
    
    <div id="dash6" class="top_left_dashboard graph_box">
      <div class="dashboard_module_header top_provider_block">
        <h3>Savings Opportunities by Service</h3>
        <%= render :partial => 'dashboard/widget_options' %>
      </div>
      <div class="hidden dashboard_panel_options">Dash 6</div>
      <div class="widget_content">
      <div id="panel_header" class="basic_panel">
        <div class="top_provider_block saving_opp_product">Product</div>
        <div class="top_provider_block saving_opp_est">Est Savings</div>
        <div class="top_provider_block saving_opp_claims">Claims</div>
        <div class="top_provider_block saving_opp_more">Learn More</div>
      </div>
      <%= render :partial => 'dashboard/service_opportunities', :locals => {:provider => p} %>
      </div>
      <div class="widget_footer"></div>
    </div>

  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('.scroll_nav_trigger').live('click', function(e) {
        scroll.setScroll($(this));
        e.preventDefault();
      });
      
      widget.dashboardOptions('#dashboard_options');
      widget.widgetOptions();
      baseActions.tutorialTrigger();
      drag.setupDashboardPanels("#dashboard", "dashboardCookie", 1000);
      drag.loadQuickLaunchOrder("#dashboard", "dashboardCookie");
        
      // Scatter Plot
      $.getScript('javascripts/data/scatterData.js');
      // Bar Graph
      $.getScript('javascripts/data/barData.js');
      // Line Chart
      $.getScript('javascripts/data/lineData.js');
      // Pie Chart
      $.getScript('javascripts/data/provider_action_summary_dashboard.js');
      


    });
  </script>
<% end %>