<% page_title "Nucleus Dashboard"%>

<% content_for :page_header do %>
  <%= render :partial => 'dashboard/dashboard_header' %>
<% end %>

<div id="panel_layout" class="clear">
  
  <%# Dashboard Options %>
  <%= render :partial => "clients/dashboard_options" %>
  
  
  <div id="dashboard">
    <ul id="tab_nav" class="main">
      <li class="active"><%= link_to "Page 1", "#page1" %></li>
      <li><%= link_to "Page 2", "#page2" %></li>
      <li><%= link_to "Page 3", "#page3" %></li>
    </ul>
    <% if ipad? %>
      <%= render :partial => 'dashboard_pages_ipad' %>
    <% else %>
      <%= render :partial => 'dashboard_pages' %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var $dash = $("#dashboard");
      var $page1 = $("#page1");
      var $page2 = $("#page2");
      var $page3 = $("#page3");

      widget.dashboardOptions('#dashboard_options');
      widget.widgetOptions($dash);
      <% if !ipad? %>
        drag.setupDashboardPanels($page1, "dashPage1", 1000);
        drag.setupDashboardPanels($page2, "dashPage2", 1000);
        drag.setupDashboardPanels($page3, "dashPage3", 1000);
        drag.loadDashboardLaunchOrder($page1, "dashPage1");
        drag.loadDashboardLaunchOrder($page2, "dashPage2");
        drag.loadDashboardLaunchOrder($page3, "dashPage3");
        // Scatter Plot
        $.getScript('javascripts/data/scatterData.js');
        // Bar Graph
        $.getScript('javascripts/data/barData.js');
        // Pie Chart
        $.getScript('javascripts/data/provider_action_summary_dashboard.js');
      <% end %>
      
      
      <% if ipad? %>
        scroll.setNewsScroll();
        // Scatter Plot
        $.getScript('javascripts/data/ipad/iPadScatterData.js');
        // Bar Graph
        $.getScript('javascripts/data/ipad/iPadBarData.js');
        // Pie Chart
        $.getScript('javascripts/data/ipad/iPadProviderAction.js');
      <% end %>
      
      panels.dashTabs();
      app.tutorialTrigger();
      widget.getFeeds();
    });
  </script>
<% end %>