<div id="quick_launch">
  <div id="quick_launch_top">  
    <div class="quick_launch_box">
      <%= link_to "Dashboard", dashboard_path, :title => "Nucleus Dashboard" %>
    </div>
    <div class="quick_launch_box">
      <%= link_to "Dashboard", dashboard_path, :title => "Nucleus Dashboard" %>
    </div>
    <div class="quick_launch_box">
      <%= link_to "Dashboard", dashboard_path, :title => "Nucleus Dashboard" %>
    </div>
    <div class="quick_launch_box last">
      <%= link_to "Dashboard", dashboard_path, :title => "Nucleus Dashboard" %>
    </div>
  </div>
  <div id="quick_launch_bottom">  
    <div class="quick_launch_box">
      <%= link_to "Dashboard", dashboard_path, :title => "Nucleus Dashboard" %>
    </div>
    <div class="quick_launch_box">
      <%= link_to "Dashboard", dashboard_path, :title => "Nucleus Dashboard" %>
    </div>
    <div class="quick_launch_box">
      <%= link_to "Dashboard", dashboard_path, :title => "Nucleus Dashboard" %>
    </div>
    <div class="quick_launch_box last">
      <%= link_to "Dashboard", dashboard_path, :title => "Nucleus Dashboard" %>
    </div>
  </div>
</div>
