<%= render :partial => 'dashboard/quick_launch_header' %>
<div id="panel_layout" class="message_panels clear">
  <div class="panel ui-layout-main">
    <div class="quick_launch_wrap">
      <div id="quick_launch_top">  
        <div id="1" class="quick_launch_box dashboard_widget">
          <%= link_to "Dashboard", dashboard_path, :class => "dash1 tip", :title => "Nucleus Dashboard" %>
        </div>
        <div id="2" class="quick_launch_box reports_widget">
          <%= link_to "Reports", reports_path, :class => "dash2 tip", :title => "Nucleus Reports" %>
        </div>
        <div id="3" class="quick_launch_box search_widget">
          <%= link_to "Search", provider_search_path, :class => "dash3 tip", :title => "Nucleus Provider Search" %>
        </div>
        <div id="4" class="quick_launch_box help_widget">
          <%= link_to "Help", help_path, :class => "dash4 tip", :title => "Nucleus Support Center" %>
        </div>
        <div id="5" class="quick_launch_box messages_widget">
          <%= link_to "Messages", messages_path, :class => "dash5 tip", :title => "Nucleus Message Center" %>
        </div>
        <div id="6" class="quick_launch_box feedback_widget">
          <%= link_to "Feedback", client_feedback_path, :class => "dash6 tip", :title => "Nucleus Feedback" %>
        </div>
        <div id="7" class="quick_launch_box settings_widget">
          <%= link_to "Settings", "", :class => "dash7 tip", :title => "Nucleus Client Settings" %>
        </div>
        <div id="8" class="quick_launch_box university_widget">
          <%= link_to "HCI U", "http://www.hcinsight.com/insight-university", :target => "_blank", :class => "dash8 tip", :title => "Insight University" %>
        </div>
      </div>
    <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      var $grid = $("#quick_launch_top");
      drag.setupQuickLaunch($grid, "quickLaunchCookie", 1000);
      drag.loadQuickLaunchOrder($grid, "quickLaunchCookie");
      baseActions.tutorialTrigger();
    });
  </script>
<% end %>
