<% content_for :page_header do %>
  <%= render :partial => 'dashboard/quick_launch_header' %>
<% end %>

<div id="dashboard_options" class="hidden">
  <div class="option_header">
    <h2>Quick Launch Options</h2>
    
    <ul class="page_nav">
      <li class="last">
        <%= link_to "Close", "", :class => "options_panel_close" %>
      </li>
    </ul>
  </div>
  <div class="option_subtitle">
    Customize your Quick Launch Links by adding from the list below. A minimum of eight icons is required.
  </div>
  <div id="ql_checkboxes" class="option_cb_wrap">
    <div class="option_trigger ql1 ql_dash active">
      <%= link_to "Dashboard", "", :class => "option_icon", :icon => "ql1"  %>
      <%= link_to "Dashboard", "", :icon => "ql1" %>
    </div>
    <div class="option_trigger ql2 ql_report active">
      <%= link_to "Reports Center", "", :class => "option_icon", :icon => "ql2" %>
      <%= link_to "Reports Center", "", :icon => "ql2" %>
    </div>
    <div class="option_trigger ql3 ql_search active">
      <%= link_to "Search", "", :class => "option_icon", :icon => "ql3" %>
      <%= link_to "Claim Search", "", :icon => "ql3" %>
    </div>
    <div class="option_trigger ql4 ql_pro_search active"> 
      <%= link_to "Provider Search", "", :class => "option_icon", :icon => "ql4" %>
      <%= link_to "Provider Search", "", :icon => "ql4" %>
    </div>
    <div class="option_trigger ql5 ql_suspect active"> 
      <%= link_to "Suspect Providers", "", :class => "option_icon", :icon => "ql5" %>
      <%= link_to "Suspect Providers", "", :icon => "ql5" %>
    </div>
    <div class="option_trigger ql6 ql_hciu active"> 
      <%= link_to "HCI U", "", :class => "option_icon", :icon => "ql6" %>
      <%= link_to "HCI U", "", :icon => "ql6" %>
    </div>
    <div class="option_trigger ql7 ql_messages active"> 
      <%= link_to "Message Center", "", :class => "option_icon", :icon => "ql7" %>
      <%= link_to "Message Center", "", :icon => "ql7" %>
    </div>
    <div class="option_trigger ql8 ql_idea active"> 
      <%= link_to "Idea Forum", "", :class => "option_icon", :icon => "ql8" %>
      <%= link_to "Idea Forum", "", :icon => "ql8" %>
    </div>
    <div class="option_trigger ql9 ql_help active"> 
      <%= link_to "Help Center", "", :class => "option_icon", :icon => "ql9" %>
      <%= link_to "Help Center", "", :icon => "ql9" %>
    </div>
    <div class="option_trigger ql10 ql_settings active"> 
      <%= link_to "Settings", "", :class => "option_icon", :icon => "ql10" %>
      <%= link_to "Settings", "", :icon => "ql10" %>
    </div>
    <div class="option_trigger ql11 ql_high active"> 
      <%= link_to "High Risk", "", :class => "option_icon", :icon => "ql11" %>
      <%= link_to "High Risk", "", :icon => "ql11" %>
    </div>
    <div class="option_trigger ql12 ql_elevated active"> 
      <%= link_to "Elevated Risk", "", :class => "option_icon", :icon => "ql12" %>
      <%= link_to "Elevated Risk", "", :icon => "ql12" %>
    </div>
    <div class="option_trigger ql13 ql_moderate active"> 
      <%= link_to "Moderate Risk", "", :class => "option_icon", :icon => "ql13" %>
      <%= link_to "Moderate Risk", "", :icon => "ql13" %>
    </div>
    <div class="option_trigger ql14 ql_low active"> 
      <%= link_to "Low Risk", "", :class => "option_icon", :icon => "ql14" %>
      <%= link_to "Low Risk", "", :icon => "ql14" %>
    </div>
    <div class="option_trigger ql15 ql_flagged active"> 
      <%= link_to "Flagged Claims", "", :class => "option_icon", :icon => "ql15" %>
      <%= link_to "Flagged Claims", "", :icon => "ql15" %>
    </div>
    <div class="option_trigger ql16 ql_pci active"> 
      <%= link_to "PCI", "", :class => "option_icon", :icon => "ql16" %> 
      <%= link_to "PCI", "", :icon => "ql16" %>
    </div>
    <div class="option_trigger ql17 ql_dci active">
      <%= link_to "DCI", "", :class => "option_icon", :icon => "ql17" %>
      <%= link_to "DCI", "", :icon => "ql17" %>
    </div>
    <div class="option_trigger ql18 ql_cti active"> 
      <%= link_to "CTI", "", :class => "option_icon", :icon => "ql18" %>
      <%= link_to "CTI", "", :icon => "ql18" %>
    </div>
  </div>
  <%#= render :partial => "clients/dashboard_options", :locals => {:dashboard_widgets => @dashboard_widgets} %>
</div>

<div id="centered_layout" class="message_panels clear">
    <div id="quick_launch_wrap" class="inner_box">
      <div id="quick_launch_icons">  
        <div id="ql1" class="quick_launch_box dashboard_widget">
          <%= link_to "Dashboard", dashboard_path, :class => "tip", :title => "Nucleus Dashboard" %>
        </div>
        <div id="ql2" class="quick_launch_box reports_widget">
          <%= link_to "Reports Center", reports_path, :class => "tip", :title => "Nucleus Reports" %>
        </div>
        <div id="ql3" class="quick_launch_box search_widget">
          <%= link_to "Claim Search", claims_list_path, :class => "tip", :title => "Nucleus Claim Search" %>
        </div>
        <div id="ql4" class="quick_launch_box provider_search_widget">
          <%= link_to "Provider Search", provider_search_path, :class => "tip", :title => "Provider Search" %>
        </div>
        <div id="ql5" class="quick_launch_box suspect_provider_widget">
          <%= link_to "Suspect Providers", provider_search_path, :class => "tip", :title => "Suspect Providers" %>
        </div>
        <div id="ql6" class="quick_launch_box university_widget">
          <%= link_to "HCI U", "http://www.hcinsight.com/insight-university", :target => "_blank", :class => "dash8 tip", :title => "Insight University" %>
        </div>
        <div id="ql7" class="quick_launch_box messages_widget">
          <%= link_to "Messages", messages_path, :class => "tip", :title => "Nucleus Message Center" %>
        </div>
        <div id="ql8" class="quick_launch_box feedback_widget">
          <%= link_to "Idea Center", client_feedback_path, :class => "tip", :title => "Nucleus Idea Forum" %>
        </div>
        <div id="ql9" class="quick_launch_box help_widget">
          <%= link_to "Help Center", help_path, :class => "tip", :title => "Nucleus Help Center" %>
        </div>
        <div id="ql10" class="quick_launch_box settings_widget">
          <%= link_to "Settings", "", :class => "dash7 tip coming_soon", :rel => "#coming_soon", :title => "Nucleus Client Settings" %>
        </div>
        <div id="ql11" class="quick_launch_box high_risk_widget">
          <%= link_to "High Risk", provider_search_path, :class => "tip", :title => "High Risk Providers" %>
        </div>
        <div id="ql12" class="quick_launch_box elevated_risk_widget">
          <%= link_to "Elevated Risk", provider_search_path, :class => "tip", :title => "Elevated Risk Providers" %>
        </div>
        <div id="ql13" class="quick_launch_box moderate_risk_widget">
          <%= link_to "Moderate Risk", provider_search_path, :class => "tip", :title => "Moderate Risk Providers" %>
        </div>
        <div id="ql14" class="quick_launch_box low_risk_widget">
          <%= link_to "Low Risk", provider_search_path, :class => "tip", :title => "Low Risk Providers" %>
        </div>
        <div id="ql15" class="quick_launch_box flagged_widget">
          <%= link_to "Flagged Providers", claims_list_path, :class => "tip", :title => "Flagged Providers" %>
        </div>
        <div id="ql16" class="quick_launch_box pci_widget">
          <%= link_to "PhysicianClaim Insight", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "PhysicianClaim Insight" %>
        </div>
        <div id="ql17" class="quick_launch_box dci_widget">
          <%= link_to "DentalClaim Insight", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "DentalClaim Insight" %>
        </div>
        <div id="ql18" class="quick_launch_box cti_widget">
          <%= link_to "CaseTracker Insight", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "CaseTracker Insight" %>
        </div>



      </div>
    <div class="clear"></div>
    </div>

  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      app.centeredHeight();
      var $grid = $("#quick_launch_icons");
      widget.dashboardOptions('#dashboard_options');
      <% if !ipad? %>
        drag.setupQuickLaunch($grid, "quickLaunchCookie", 1000);
        drag.loadQuickLaunchOrder($grid, "quickLaunchCookie");
      <% end %>
      app.tutorialTrigger();
      app.comingSoonOverlay();
      app.setQuickLaunchHovers();
    });
  </script>
<% end %>
