<li class="<%= active %>">
  <div class="message_from"><%= name %></div>
  <div class="message_time"><%= time %></div>
  <div class="message_subject"><%= subject %></div>
  <div class="message_preview"><%= preview %></div>
</li>