        <div id="posts">
          <%= render :partial => 'post_header' %>

          <div id="center_message_content_wrap">
            <div class="message_feed_main">
              <div class="image_wrap">
                <%= image_tag('message/avatar_jason_pierson.jpg', :alt => "Jason Pierson Avatar") %>
              </div>
              <div class="message_wrap">
                <h3><%= link_to "Kim Young", "" %></h3>
                <p>Along with the AHIP documents from our meeting, I understand that Paul and Kate put together a storyboard. Could I get that to review before I leave at tomorrow at 3 p.m.</p>
                <div class="message_links">
                  <span>24 minutes ago</span> <span class="text_spacer">|</span><span class=""><%= link_to "Reply", "", :class => " tip", :title => "Reply to this post" %></span>
                </div>
              </div>
              <div class="message_reply">
                <div class="image_wrap">
                  <%= image_tag('message/avatar_darin_johnson_small.jpg', :alt => "Darin Johnson Small Avatar") %>
                </div>
                <div class="reply_message_wrap">
                  <h3><%= link_to "Paul White", "" %></h3>
                  <p>Attached is the AHIP storyboard. You can also touch base with Kate if you see a need for any adjustments. She is moving forward with any needed updates.</p>
                  <div class="message_links">
                    <span>18 minutes ago</span>
                  </div>
                  <div class="attachment_wrap">
                    <div class="gray_paper_clip"></div>
                    <span class="text_spacer left">1 attachment |</span>
                    <div class="attachment left">
                      <%= link_to "ahip_storyboard.pdf", "", :class => " tip", :title => "Download PDF" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="message_feed_main">
              <div class="image_wrap">
                 <%= image_tag('message/avatar_brian_smith.jpg', :alt => "Brian Johnson Avatar") %>
              </div>
              <div class="message_wrap">
                <h3><%= link_to "Kate Grua", "" %></h3>
                <p>We've received some great feedback from our latest test group about the updates that were made to the Claims reporting. The ease of use is saving time and budget.</p>
                <div class="message_links">
                  <span>over 1 hour ago</span> <span class="text_spacer">|</span><span class=""><%= link_to "Reply", "", :class => " tip", :title => "Reply to this post" %></span>
                </div>
              </div>
              <div class="message_reply">
                <div class="image_wrap">
                  <%= image_tag('message/avatar_darin_johnson_small.jpg', :alt => "Paul White Small Avatar") %>
                </div>
                <div class="reply_message_wrap">
                  <h3><%= link_to "Paul White", "" %></h3>
                  <p>Let's shoot for including that feedback in the Q2 report. The initial round should be finished by next Wednesday.</p>
                  <div class="message_links">
                    <span>48 minutes ago</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>