<div id="page_header">
  <h2>
    Message Center
  </h2>
  <div id="tutorial_trigger">
    <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Message Center Tutorials", :rel => "#tutorial_modal", :tutorial_page => message_center_tutorials_path() %>
  </div>
  <ul class="page_nav">
    <li>
      <%= link_to "Start Page", "", :class => "tip", :title => "Message Center Tutorials" %>
    </li>
    <li>
      <%= link_to "Activity", "", :class => "tip", :title => "Message Center Tutorials" %>
    </li>
    <li>
      <%= link_to "Profiles", "", :class => "tip", :title => "Message Center Tutorials" %>
    </li>
    <li>
      <%= link_to "My Profile", "", :class => "tip", :title => "Message Center Tutorials" %>
    </li>
    <li class="last">
      <%= link_to "Settings", "", :class => "tip", :title => "Message Center Tutorials" %>
    </li>
  </ul>
</div>
