        <div id="posts">
          <%= render :partial => 'messages/post_header' %>

          <div id="center_message_content_wrap">
            
            <% posts.each_with_index do |p, i| %>
            <div class="message_feed_main">
              <div class="post_box <%= i == 0 ? "active" : "" %>">
                <div class="image_wrap">
                  <% if p.client == current_client %>
                    <%= image_tag(p.client.client_profile.avatar.url(:thumb)) %>
                  <% else %>
                    <%= link_to image_tag(p.client.client_profile.avatar.url(:thumb)), "", :class => "client_profile_link", :poster_id => p.client.id  %>
                  <% end %>
                </div>
                <div class="message_wrap">
                  <h3>
                    <% if p.client == current_client %>
                      <%= p.client.full_name %>
                    <% else %>
                      <%= link_to "#{p.client.full_name}", "", :poster_id => p.client.id, :class => "client_profile_link" %>
                    <% end %>
                  </h3>
                  <p><%= p.post %></p>
                  <div class="message_links">
                    <span><%= time_ago_in_words(p.created_at) %> ago</span> <span class="text_spacer">|</span><span class=""><%= link_to "Reply", new_comment_path(:post_id => p.id, :client_id => current_client.id), :class => "tip post_reply", :title => "Reply to this post", :postnum => p.id %></span>
                  </div>
                </div>
              </div>
              <% if p.comments %>
                <% p.comments.each do |pc| %>
                <div class="message_reply post_box">
                  <div class="image_wrap">
                    <% if pc.client == current_client %>
                      <%= image_tag(pc.client.client_profile.avatar.url(:micro)) %>
                    <% else %>
                      <%= link_to image_tag(pc.client.client_profile.avatar.url(:micro)), "", :class => "client_profile_link", :poster_id => pc.client.id  %>
                    <% end %>
                  </div>
                  <div class="reply_message_wrap">
                    <h3>
                      <% if pc.client == current_client %>
                        <%= pc.client.full_name %>
                      <% else %>
                        <%= link_to "#{pc.client.full_name}", "", :poster_id => pc.client.id, :class => "client_profile_link" %>
                      <% end %>
                    </h3>
                    <p><%= pc.comment %></p>
                    <div class="message_links">
                      <span><%= time_ago_in_words(pc.created_at) %> ago</span>
                    </div>
                    <div class="attachment_wrap">
                      <div class="gray_paper_clip"></div>
                      <% unless pc.comment_attachment_file_name.nil? %>
                        <span class="text_spacer left">1 attachment |</span>
                        <div class="attachment left">
                          <%= link_to "#{pc.comment_attachment_file_name}", pc.comment_attachment.path(), :class => "tip", :title => "Download Attachment" %>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
            <% end %>  
          </div>
        </div>