<div id="message_search">
  <h2>Share with My Feed</h2>
  <% form_tag providers_path, :method => :get do %>
    <%= text_area_tag(:search, nil, {:cols => 90, :rows => 5, :class => "left"} )%>
    <div id="search_buttons">
      <%= submit_tag "Send", :name => nil, :class => 'medium_btn tip', :title => "Send Message" %>
      <%= link_to "Clear", "", :id => "search_clear", :class => "tip", :title => "Clear Message Box" %>
    </div>
    <% end %>
    <div class="clear"></div>
    <div class="paperclip_link">
      <div class="green_paper_clip"></div>
      <%= link_to "Attach File", "", :id => "message_attach_link", :class => "tip", :title => "Attach a File" %>
      <div id="message_attachment" style="display: none;">
        <%= file_field :attachment, :size => 16 %>
      </div>
      <div class="clear"></div>
    </div>
</div>
<h2 class="content_header">My Feed</h2>
<div id="center_message_content_wrap">
  <div class="message_feed_main">
    <div class="image_wrap">
      <%= image_tag('message/avatar_jason_pierson.jpg', :alt => "Jason Pierson Avatar") %>
    </div>
    <div class="message_wrap">
      <h3 class="green">Jason C Pierson:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <div class="message_links">
        <span>24 minutes ago</span> <span class="text_spacer">|</span><span class="green"><%= link_to "Reply", "", :class => "green tip", :title => "Reply to this post" %></span>
      </div>
    </div>
    <div class="message_reply">
      <div class="image_wrap">
        <%= image_tag('message/avatar_darin_johnson_small.jpg', :alt => "Darin Johnson Small Avatar") %>
      </div>
      <div class="reply_message_wrap">
        <h3 class="green">Darin Johnson:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div class="message_links">
          <span>18 minutes ago</span>
        </div>
        <div class="attachment_wrap">
          <div class="gray_paper_clip"></div>
          <span class="text_spacer left">1 attachment |</span>
          <div class="attachment left">
            <%= link_to "ahip_storyboard.pdf", "", :class => "green tip", :title => "Download PDF" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message_feed_main">
    <div class="image_wrap">
       <%= image_tag('message/avatar_brian_smith.jpg', :alt => "Brian Johnson Avatar") %>
    </div>
    <div class="message_wrap">
      <h3 class="green">Brian Smith:</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      <div class="message_links">
        <span>over 1 hour ago</span> <span class="text_spacer">|</span><span class="green"><%= link_to "Reply", "", :class => "green tip", :title => "Reply to this post" %></span>
      </div>
    </div>
    <div class="message_reply">
      <div class="image_wrap">
        <%= image_tag('message/avatar_darin_johnson_small.jpg', :alt => "Darin Johnson Small Avatar") %>
      </div>
      <div class="reply_message_wrap">
        <h3 class="green">Darin Johnson:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <div class="message_links">
          <span>48 minutes ago</span>
        </div>
      </div>
    </div>
  </div>
</div>