<div class="follow_btn">
  <span class="follow_cross"></span>
  <%= link_to "Follow This Person", "", :rel => "#coming_soon", :class => "coming_soon" %>
</div>
<div id="profile_view">
  <div class="message_sidebar_panel message_sidebar_dark">
    <div class="profile_image left">
      <div class="image_wrap left">
        <%= image_tag(view_client.client_profile.avatar.url(:thumb)) %>
      </div>
    </div>
    <div class="profile_info left">
      <b><%= view_client.full_name %></b><br/>
      <%= view_client.client_profile.company %><br/>
      <%= view_client.client_profile.title %>, <%= view_client.client_profile.department %>
    </div>
  </div>
  <div class="message_sidebar_panel message_sidebar_dark">
  <h3>Connections</h3>
  <div class="message_count_block">
    <div class="count_block"><%= view_client.client_connection.follower_count %></div>
    <div class="count_label">Followers</div>
  </div>
  <div class="message_count_block middle">
    <div class="count_block"><%= view_client.client_connection.following_count %></div>
    <div class="count_label">Following</div>
  </div>
  <div class="message_count_block">
    <div class="count_block"><%= view_client.client_connection.group_count %></div>
    <div class="count_label">Groups</div>
  </div>
  </div>
  <div class="message_sidebar_panel contact_information">
    <h3>Contact Information</h3>
    <ul>
      <li class="email"><%= link_to "#{view_client.full_name}", "", :class => "email_contact", :rel => "#message_post" %></li>
      <li class="contact"><%= view_client.client_profile.phone %></li>
    </ul>
  </div>
</div>