<%= render :partial => 'messages/message_header' %>
<div id="panel_layout" class="message_panels clear">
  <div id="message_center_wrap">
  
    <%# Message Center Breadcrumb %>
    <div id="message_center_breadcrumb">
      <ul>
        <li><%= link_to "HealthCare Insight", "", :class => "first" %> ></li>
        <li><%= link_to "Carma Medical Group", "" %> ></li>
        <li><%= link_to "Paul White", "" %></li>
      </ul>
    </div>
    
    <%# Message Center Sidebar %>
    <div id="message_sidebar">
      <%= render :partial => 'messages/message_sidebar' %>
    </div>
    
    <%# Message Center Tabs %>
    <div id="message_center_tabs">
      <%= render :partial => 'messages/message_tabs' %>

      <div id="panel1" class="message_panel">
        <%= render :partial => 'messages/post_form' %>
        <%= render :partial => 'messages/message_posts' %>
      </div>
      <div id="panel2" class="message_panel hidden">
        <h2>Panel 2</h2>
      </div>
      <div id="panel3" class="message_panel hidden">
        <h2>Panel 3</h2>
      </div>
    </div>
    
    <%# End %>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      
      $('.scroll_nav_trigger').live('click', function(e) {
        scroll.setScroll($(this));
        e.preventDefault();
      });

      baseActions.tutorialTrigger();
      
      panels.messageTabs();
      // Toggles the file attachment
      $('#message_attach_link').click(function() {
        $('#message_attachment').slideToggle('slow');
        return false;
      });
    });
  </script>
<% end %>
