<% page_title "Nucleus Message Center"%>

<% content_for :page_header do %>
  <%= render :partial => 'messages/message_header' %>
<% end %>
<div id="centered_layout" class="message_panels clear">
  <div id="message_center_wrap" class="inner_box">
  
    <%# Message Center Breadcrumb %>
    <div id="message_center_breadcrumb">
      <ul>
        <li><%= link_to "HealthCare Insight", "", :rel => "#coming_soon", :class => "first coming_soon" %> ></li>
        <li><%= link_to "Carma Medical Group", "", :rel => "#coming_soon", :class => "coming_soon" %> > </li>
        <li> <%= current_client.full_name %></li>
      </ul>
    </div>
    
    <%# Message Center Sidebar %>
    <div id="message_sidebar">
      <%= render :partial => 'messages/message_sidebar', :locals => {:view_client => @view_client} %>
    </div>
    
    <%# Message Center Tabs %>
    <div id="message_center_tabs">
      <%= render :partial => 'messages/message_tabs' %>

      <div id="tab1" class="message_panel">
        <%= render :partial => 'messages/post_form', :locals => {:post => @post, :comment => @comment} %>
        <%= render :partial => 'messages/message_posts', :locals => {:posts => @posts} %>
      </div>
      <div id="tab2" class="message_panel hidden">
        <div id="message_block">
          <div id="messages_wrap">
            <ul id="message_tools">
              <li><%= link_to "New Message", "", :class => "message_tools_nav new_message tip", :title => "New Message" %></li>
              <li><%= link_to "Save Message", "", :class => "message_tools_nav save_message tip", :title => "Save Message" %></li>
              <li><%= link_to "Forward Message", "", :class => "message_tools_nav forward_message tip", :title => "Forward Message" %></li>
              <li><%= link_to "Delete Message", "", :class => "message_tools_nav delete_message tip", :title => "Delete Message" %></li>
            </ul>
          </div>
        </div>
        <div id="message_interface">
          <div id="mailbox_categories">
            <ul>
              <li id="mb_mailbox_refresh" class="mb_cat_header">
                <span class="mailbox_title">Mailboxes</span>
                <span class="mailbox_header_icon"></span>
              </li>
              <li id="mb_inbox" class="mb_cat_item active">
                <span class="mailbox_title">Inbox</span>
                <span class="mailbox_item_count active has_count">21</span>
              </li>
              <li id="mb_drafts" class="mb_cat_item">
                <span class="mailbox_title">Drafts</span>
                <span class="mailbox_item_count has_count">3</span>
              </li>
              <li id="mb_sent" class="mb_cat_item">
                <span class="mailbox_title">Sent</span>
                <span class="mailbox_item_count has_count">47</span>
              </li>
              <li id="mb_trash" class="mb_cat_item">
                <span class="mailbox_title">Trash</span>
                <span class="mailbox_item_count"></span>
              </li>
              <li id="mb_folders" class="mb_cat_header">
                <span class="mailbox_title">Folders</span>
                <span class="mailbox_header_icon"></span>
              </li>
              <li id="mb_notes" class="mb_cat_item">
                <span class="mailbox_title">Notes</span>
                <span class="mailbox_item_count"></span>
              </li>
            </ul>
          </div>
          <div id="mailbox_items">
            <div id="mailbox_search">
              <form action="/messages" method="get" class="search">
                  <input type="text" name="mb_search" value="search inbox"/>
                  <button type="submit" class="search_btn" title="Mailbox Search">Search</button>
              </form>
            </div>
            <div id="sort_bar">
              <span class="mailbox_sort_option switch_view">Switch View</span>
              <span class="mailbox_sort_option sort_view">Sort by</span>
            </div>
            <div id="message_list">
              <ul id="messages">
                <% 10.times do %>
                <li>
                  <div class="message_from">Bob Hanson</div>
                  <div class="message_time">4:24 PM</div>
                  <div class="message_subject">RE: Data Changes</div>
                  <div class="message_preview">To change the data needed for 2009</div>
                </li>
                <% end %>
              </ul>
            </div>
          </div>
          <div id="message_view">
            <div id="message_header">
              <h2 id="message_title">Updates for Q3</h2>
              <div id="message_meta">From <%= link_to "Bob Hanson", "" %> today at 12:09 PM</div>
            </div>
            <div id="message_content">
              <p>
                Let me know when the updates have completed. We’ll need to make sure that we have the numbers from JT and Karen. They sould already be aware of the timeframe that needed.
              </p>
              <p>
                Thanks for your assistance during the last two week.<br/>
                Bob
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="tab3" class="message_panel hidden">
        <div id="profile_block">
          <div id="profile_wrap">
            <%= image_tag(current_client.client_profile.avatar.url(:full)) %>
            <div class="client_profile">
              <h2><%= current_client.full_name %></h2>
              <h3 class="client_title"><%= current_client.client_profile.title %></h3>
              <div class="info client_company"><%= current_client.client_profile.company %></div>
              <div class="info client_email"><%= current_client.client_profile.email %></div>
              <div class="info client_phone"><%= current_client.client_profile.phone %></div>
            </div>
            <div class="connections">
              <h2>My Connections</h2>
              <div class="message_count_block">
                <div class="count_block"><%= current_client.client_connection.follower_count %></div>
                <div class="count_label">Followers</div>
              </div>
              <div class="message_count_block middle">
                <div class="count_block"><%= current_client.client_connection.following_count %></div>
                <div class="count_label">Following</div>
              </div>
              <div class="message_count_block">
                <div class="count_block"><%= current_client.client_connection.group_count %></div>
                <div class="count_label">Groups</div>
              </div>
            </div>
          </div>
        </div>

        <div id="profile_form_wrap">
          <h2>Profile Information</h2>
          <% form_for(@client_profile) do |f| %>
            <%= f.error_messages %>
            <div class="form_field">
              <%= f.label :company %><br />
              <%= f.text_field :company %>
            </div>
            <div class="form_field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>
            <div class="form_field">
              <%= f.label :department %><br />
              <%= f.text_field :department %>
            </div>
            <div class="form_field">
              <%= f.label :email %><br />
              <%= f.text_field :email %>
            </div>
            <div class="form_field">
              <%= f.label :phone %><br />
              <%= f.text_field :phone %>
            </div>
            <div class="form_field submit_button">
              <%= f.submit 'Update', :class => "medium_btn" %>
            </div>
          <% end %>
        </div>
        <div id="profile_form_wrap">
          <h2>Profile Avatar</h2>
          <% form_for(@client_profile, :html => {:multipart => true}) do |f| %>
            <%= f.error_messages %>
            <div class="form_field">
          		<%= f.label :avatar, "Upload Avatar"  %><br />
          		<%= f.file_field :avatar, :size => 16 %>
          	</div>
            <div class="form_field submit_button">
              <%= f.submit 'Update', :class => "medium_btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    
    <%# End %>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      <% if !ipad? %>
      app.centeredHeight();
      <% end %>
      panels.messageTabs();
      app.tutorialTrigger();
      app.toggleUpload();
      app.messageModal();
      app.updateMessageSidebar();
      app.messagePost();
      app.messageReplyTrigger();
      app.inboxSelect();
      app.mbCatItemSelect();
      <% if ipad? %>
        scroll.setiPadMessageScroll();
      <% end %>
    });
  </script>
<% end %>
