<% form_for(@provider_group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :group_tin %><br />
    <%= f.text_field :group_tin %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>