<div class="scaffold_panel">
  <h2>Listing Provider Groups</h2>
  <% @provider_groups.each do |provider_group| %>
  <div class="listing_panel clear_left">
    <h3>Provider Group: <span><%=h provider_group.name %></span></h3>
    <div class="left">    
      <div class="left"><%= link_to 'Show', provider_group %></div>
      <div class="left"><%= link_to 'Edit', edit_provider_group_path(provider_group) %></div>
      <div class="left"><%= link_to 'Delete', provider_group, :confirm => 'Are you sure?', :method => :delete %></div>
    </div>
  </div>
  <% end %>

<%= link_to 'New provider_group', new_provider_group_path %>
</div>

