<div id="login_left">
  <h1 class="med_nucleus_logo">Nucleus</h1>
  <h2 class="login">Welcome Back!</h2>
  <% form_for(@client_session) do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :username %><br/>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </p>
    <p class="top_20_wrap small_label">
      <%= f.check_box :remember_me %><%= f.label :remember_me %><br/>
    </p>
    <p class"top_20_wrap">
      <%= link_to "Forgot your password", "#" %> or <%= link_to "Need Help", "#" %>
    </p>
    <p class="top_20_wrap"><%= f.submit "Sign In", :class => 'login_btn' %></p>
  <% end %>
</div>

<div id="login_right">
  <div class="login_sub_box">
    <p><b>A Solution for All Payors</b><br/>
      Public, Private, and P&amp;C payors.
    </p>
    <%= link_to(image_tag('login/ad_boxes/service_ad.png', :alt => "HealthCare Insight Services"), "http://www.hcinsight.com/services", :target => "_blank") %>
  </div>
  <div class="login_sub_box">
    <p><b>Learn From Industry Professionals</b><br/>
      HCI Client Education Program.
    </p>
    <%= link_to(image_tag('login/ad_boxes/hciu_ad.png', :alt => "HealthCare Insight Services"), "http://stage.hcinsight.com/insight-university", :target => "_blank") %>
  </div>
</div>