<div id="page_header">
  <h2>
    Claim Action
  </h2>
  <div id="tutorial_trigger">
    <%= link_to "Info", "", :class => "tutorial_trigger tip", :title => "Provider Action Tutorials", :rel => "#tutorial_modal", :tutorial_page => claim_action_tutorials_path() %>
  </div>
  <ul class="page_nav">
    <li>
      <%= link_to "Notes", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Claim Notes" %>
    </li>
    <li>
      <%= link_to "Documents", "", :class => "tip coming_soon", :rel => "#coming_soon" :title => "Claim Documents" %>
    </li>
    <li>
      <%= link_to "Profile", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Claim Profile" %>
    </li>
    <li>
      <%= link_to "Refresh", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Claim Refresh" %>
    </li>
    <li class="last">
      <%= link_to "Print", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Claim Print" %>
    </li>
  </ul>
</div>