<%= render :partial => 'claims/claim_action_header' %>
<div id="panel_layout" class="clear">
    <div id="action_panel" class="panel ui-layout-center">
      <div id="claim_action_left">
        <div class="claim_status_panel">
          <div class="column column_1">
            <div class="column_title">Claim Sequence</div>
            <div class="column_content">6946049-1</div>
          </div>
          <div class="column column_2">
            <div class="column_title">Image ID</div>
            <div class="column_content column_file_input">
              <% form_tag "" do %>
              <%= file_field_tag :batch_image, :size => 16 %>
              <% end %>
            </div>
          </div>
          <div class="column column_3">
            <div class="column_title">Batch ID</div>
            <div class="column_content">HCI_20100427_01</div>
          </div>
          <div class="column column_4">
            <div class="column_title">Review Group</div>
            <div class="column_content">577</div>
          </div>
          <div class="column column_5">
            <div class="column_title">Form Type</div>
            <div class="column_content">UB</div>
          </div>
          <div class="column column_6">
            <div class="column_title">Network Status</div>
            <div class="column_content">In Network</div>
          </div>
        </div>
        <div class="claim_status_panel">
          <div class="column column_1">
            <div class="column_title">Patient Sequence</div>
            <div class="column_content">337048</div>
          </div>
          <div class="column column_2">
            <div class="column_title">Age</div>
            <div class="column_content">
              31 years 9 months
            </div>
          </div>
          <div class="column column_3">
            <div class="column_title">Gender</div>
            <div class="column_content">Female</div>
          </div>
        </div>            
        <div class="claim_status_panel">
          <div class="column column_1">
            <div class="column_title">Provider Sequence</div>
            <div class="column_content">213148</div>
          </div>
          <div class="column column_2">
            <div class="column_title">Provider Name</div>
            <div class="column_content">
              C JED KESLER
            </div>
          </div>
          <div class="column column_3">
            <div class="column_title">Specialty</div>
            <div class="column_content">19 - Oral Sugery</div>
          </div>
          <div class="column column_4">
            <div class="column_title">State</div>
            <div class="column_content">OH</div>
          </div>
          <div class="column column_5">
            <div class="column_title">Zip Code</div>
            <div class="column_content">43050</div>
          </div>
          <div class="column column_6">
            <div class="column_title">Group Name</div>
            <div class="column_content"></div>
          </div>
        </div>            
        <div class="claim_status_panel">
          <div class="column column_1">
            <div class="column_title">Provider Sequence</div>
            <div class="column_content">213148</div>
          </div>
          <div class="column column_2">
            <div class="column_title">Provider Name</div>
            <div class="column_content">
              C JED KESLER
            </div>
          </div>
          <div class="column column_3">
            <div class="column_title">Specialty</div>
            <div class="column_content">19 - Oral Sugery</div>
          </div>
          <div class="column column_4">
            <div class="column_title">State</div>
            <div class="column_content">OH</div>
          </div>
          <div class="column column_5">
            <div class="column_title">Zip Code</div>
            <div class="column_content">43050</div>
          </div>
          <div class="column column_6">
            <div class="column_title">Group Name</div>
            <div class="column_content"></div>
          </div>
        </div>
      </div>
      <div id="claim_action_right">
        <div class="claim_action_panel">
          <div class="column column_1">
            <div class="column_title">Claim Status</div>
            <div class="column_content">Unreviewed</div>
          </div>
          <div class="column column_2">
            <div class="column_title">Released To Client</div>
            <div class="column_content">No</div>
          </div>
          <table id="product_review_status_table" class="claim_action_table">
            <thead>
              <tr>
                <th>
                  Product Review Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  DCI
                </td>
              </tr>
            </tbody>
          </table>
          <div class="column column_2">
            <div class="column_content">Appeals</div>
          </div>
          <table id="claim_appeals_table" class="claim_action_table">
            <thead>
              <tr>
                <th>
                  Sequence
                </th>
                <th>
                  Type
                </th>
                <th>
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="clear"></div>
      <div id="panel_south" class="ui-layout-south">
        <div id="south_resizer">
          <div class="resize_horz"></div>
        </div>
        <div id="table_action_bar">
          <ul class="page_nav">
            <li class="toggle_link">
              <%= link_to "Delete", "", :class => "tip", :title => "Delete Claim" %>
              <span class='ui-icon ui-icon-triangle-1-s'></span>
            </li>
            <li class="toggle_link">
              <%= link_to "View", "", :class => "tip", :title => "View Claim" %>
              <span class='ui-icon ui-icon-triangle-1-s'></span>
            </li>
            <li class="toggle_link">
              <%= link_to "Approve/Next", "", :class => "tip", :title => "Approve Claim" %>
              <span class='ui-icon ui-icon-triangle-1-s'></span>
            </li>
            <li>
              <%= link_to "All", "", :class => "tip", :title => "View All Claims" %>
            </li>
            <li>
              <%= link_to "12 Months", "", :class => "tip", :title => "Last 12 Months" %>
            </li>
            <li>
              <%= link_to "60 Days", "", :class => "tip", :title => "60 Day History" %>
            </li>
            <li>
              <%= link_to "Same Day", "", :class => "tip", :title => "Same Day Claims" %>
            </li>
            <li>
              <%= link_to "Provider History", "", :class => "tip", :title => "Provider History" %>
            </li>
          </ul>
        </div>
        <%= render :partial => 'claims/claim_action_table' %>
      </div>
    </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  
<% end %>