<div id="dashboard_options" class="hidden">
  <div class="option_header">
    <h2>Dashboard Settings</h2>
    
    <ul class="page_nav">
      <li class="last">
        <%= link_to "Close", "", :class => "options_panel_close" %>
      </li>
    </ul>
  </div>
  <div class="option_subtitle">
    Customize your Dashboard by adding from the list below.
  </div>
  <div id="db_checkboxes" class="option_cb_wrap">
    <div class="db_option_trigger dash1 active">
      <%= link_to "Top 5 Providers by Score", "", :class => "db_option_icon", :icon => "dash1"  %>
      <%= link_to "Top 5 Providers by Score", "", :icon => "dash1" %>
    </div>
    <div class="db_option_trigger dash2 active">
      <%= link_to "Provider Distribution by Score", "", :class => "db_option_icon", :icon => "dash2" %>
      <%= link_to "Provider Distribution by Score", "", :icon => "dash2" %>
    </div>
    <div class="db_option_trigger dash3 active">
      <%= link_to "Savings Tracker by Month", "", :class => "db_option_icon", :icon => "dash3" %>
      <%= link_to "Savings Tracker by Month", "", :icon => "dash3" %>
    </div>
    <div class="db_option_trigger dash4 active"> 
      <%= link_to "Provider Action Summary", "", :class => "db_option_icon", :icon => "dash4" %>
      <%= link_to "Provider Action Summary", "", :icon => "dash4" %>
    </div>
    <div class="db_option_trigger dash5 active"> 
      <%= link_to "Provider Population by Risk Level", "", :class => "db_option_icon", :icon => "dash5" %>
      <%= link_to "Provider Population by Risk Level", "", :icon => "dash5" %>
    </div>
    <div class="db_option_trigger dash6 active"> 
      <%= link_to "Savings Opportunity by Service", "", :class => "db_option_icon", :icon => "dash6" %>
      <%= link_to "Savings Opportunity by Service", "", :icon => "dash6" %>
    </div>
    <div class="db_option_trigger dash7 active"> 
      <%= link_to "Recent News", "", :class => "db_option_icon", :icon => "dash7" %>
      <%= link_to "Recent News", "", :icon => "dash7" %>
    </div>
  </div>
  <%#= render :partial => "clients/dashboard_options", :locals => {:dashboard_widgets => @dashboard_widgets} %>
</div>
