<div class='tutorial_header'>
  <div id="thead"></div>
  <div class="modal_claim_wrap">
    <div id="scroll_pane">
      <div id="scrolling_segment">
        <div id="scroll_wrap">
          <div id="panel1" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_action/pa-tutorial-1.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Provider Action Overview</h2>
              <h3>Provider Action Tutorials</h3>
              <p>
                Customizable widgets, simple action execution and interactive charts. The Provider Action page gives you the perfect snapshot of each of your providers.
              </p>
            </div>
          </div>
          <div id="panel2" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_action/pa-tutorial-2.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Scoring, Stats &amp; Provider Profile</h2>
              <h3>Provider Action Tutorials</h3>
              <p>
                The intelligent scoring and unique ability to display information is a lot of what makes Nucleus, Nucleus. Scoring is based on both provider and condition, then taken into consideration are variables such as aggregate billing patterns, known affiliations with fraudsters and the degree with which a condition’s score falls out of the norm. Stats are displayed a unique way to Nucleus. Based on colorful, easy to decipher graphs and charts you’ll be able to dig deeper into claims and better understand where your savings lies. Provider profiles offer rich background data on each of your providers to help give you a more intimate portrayal of how their billing practices might be affecting you.
              </p>
            </div>
          </div>
          <div id="panel3" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_action/pa-tutorial-3.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Data Visualizations &amp; Controls</h2>
              <h3>Provider Action Tutorials</h3>
              <p>
                Totally customizable, the Provider Action allows you to view, search, dig and act on all your providers. Set widget preferences by using the icons at the top right corner of each. Hide windows on a page by clicking on the small panel arrows. When you’re ready to view and use those windows again, simply click on the same arrow. Click on an individual condition in the grid and get customized condition charts.
                Your list of actions is also customizable by clicking on a column header then dragging and dropping them to optimize your own user-performance. Lastly, you can also submit actions in bulk by clicking on multiple condition lines or clicking on the Select All checkbox and submitting your desired action.
              </p>
            </div>
          </div>
          <div id="panel4" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_action/pa-tutorial-4.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Data Grids &amp; Controls</h2>
              <h3>Provider Action Tutorials</h3>
              <p>
                The data grid is your list of provider actions, broken down by various categories. To get the best view of your grid, close the widget window above by clicking on the panel arrow. Then, you can sort your provider actions by clicking on a column header and dragging and dropping them in the order that best works for you. To act on a provider, click on an individual or multiple checkboxes and select from the drop-down menu the particular action you desire.
              </p>
            </div>
          </div>
        
          <div id="panel5" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_action/pa-tutorial-5.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Take Action on Providers</h2>
              <h3>Provider Action Tutorials</h3>
              <p>
                Taking action is easy. Simply check an individual box, multiple boxes or all of them at once. Then, from the drop-down menu, select the desired action and click "Submit".
              </p>
            </div>
          </div>

        </div>
      </div>

      <div id="scroll_thumbs">
        <!-- <div id="scroll_nav_trigger_l" class="scroll_nav_triggers trigger_l"></div>
          <div id="scroller_wrap"> -->
            <ul id="scroll_nav" class="scroll_nav">
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-1.png'), "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to "Provider Search Overview", "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-2.png'), "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to "Highly-Targeted Searches", "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-3.png'), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Scoring,<br/>Stats &<br/>Provider Profile"), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-4.png'), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Data Visualization<br/>& Controls"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-5.png'), "#panel5", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Data<br/>Grids &<br/>Controls"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
            </ul>
          <!-- </div>
        <div id="scroll_nav_trigger_r" class="scroll_nav_triggers trigger_r"></div> -->
      </div>
      
      
      
    </div>
  </div>
</div>