<div class='tutorial_header'>
  <div id="thead"></div>
  <div class="modal_claim_wrap">
    <div id="scroll_pane">
      <div id="scrolling_segment">
        <div id="scroll_wrap">
          <div id="panel1" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_search/cs-tutorial-1.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Claim Search Overview</h2>
              <h3>Claim Search Tutorial</h3>
              <p>
                Like all of Nucleus, Claim Search is a dynamic, customizable interface page that includes in-depth search capabilities, scoring and profile data, and color-coded visualizations and controls.
              </p>
            </div>
          </div>
          <div id="panel2" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_search/cs-tutorial-2.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Highly-Targeted Searches</h2>
              <h3>Claim Search Tutorial</h3>
              <p>
                Robust search filters is a hallmark of the Nucleus platform. Narrow your own searches through various provider selections, product designations, the status of a claim or individual names and identification numbers of patients. All you have to do is select these identifiers from either the drop-down menus or by typing them in the appropriate fields on the left of the page.
              </p>
            </div>
          </div>
          <div id="panel3" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_search/cs-tutorial-3.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Scoring, Stats &amp; Provider Profile</h2>
              <h3>Claim Search Tutorial</h3>
              <p>
                The intelligent scoring and unique ability to display information is a lot of what makes Nucleus such the game-changer that it is. Scoring is based on both provider and condition, then taken into consideration are variables such as aggregate billing patterns, known affiliations with fraudsters and the degree with which a condition’s score falls out of the norm. Stats are displayed in a unique way to Nucleus. Based on colorful, easy to decipher graphs and charts you’ll be able to dig deeper into claims and better understand where your savings lay. Provider profiles offer rich background data on each of your providers to help give you a more intimate portrayal of how their billing practices might be affecting you.
              </p>
            </div>
          </div>
          <div id="panel4" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_search/cs-tutorial-4.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Data Visualizations &amp; Controls</h2>
              <h3>Claim Search Tutorial</h3>
              <p>
                Customizable to your preferences, the Claim Search allows you to view, search, dig and export data in whatever way works best for you. Hide the search window by clicking on the small panel arrow separating it and the Claim List. When you’re ready to view and use the window again, simply click on the same arrow. Your list of claims is also customizable by clicking on a column header, then dragging and dropping them where you’d like in order to optimize your own user-performance. It’s all under your control.
              </p>
            </div>
          </div>
        
          <div id="panel5" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_search/cs-tutorial-5.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Data Grids &amp; Controls</h2>
              <h3>Claim Search Tutorial</h3>
              <p>
                Rich in content, the data grid is your list of claims broken down by numerous heading categories. To get the best view of your grid, close other windows on the page by clicking on the table arrow. Then you can sort your claims by clicking on a column header and dragging and dropping them in the order that best works for you. To view an individual claim, click on the individual Blue claim number and you’ll be taken to the Claim Action page for more detailed information and the ability to act on that particular claim.
              </p>
            </div>
          </div>

        </div>
      </div>

      <div id="scroll_thumbs">
        <!-- <div id="scroll_nav_trigger_l" class="scroll_nav_triggers trigger_l"></div> -->
          <!-- <div id="scroller_wrap"> -->
            <ul id="scroll_nav" class="scroll_nav">
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-1.png'), "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to "Claim Search Overview", "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-2.png'), "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Highly-Targeted Searches"), "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-3.png'), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Scoring,<br/>Stats &amp;<br/>Provider Profile"), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-4.png'), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Data<br/>Visualizations<br/>&amp; Controls"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-5.png'), "#panel5", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Data Grids<br/>&amp; Controls"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
            </ul>
          <!-- </div> -->
        <!-- <div id="scroll_nav_trigger_r" class="scroll_nav_triggers trigger_r"></div> -->
      </div>
      
      
      
    </div>
  </div>
</div>