<div class='tutorial_header'>
  <div class="modal_claim_wrap">
    <div id="scroll_pane">
      <div id="scrolling_segment">
        <div id="scroll_wrap">
          <div id="panel1" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_action/ca-tutorial-1.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Claim Action Overview</h2>
              <h3>Claim Action Tutorial</h3>
              <p>
                When viewing an individual claim, you will be immediately presented with a comprehensive list of data. You’ll be able to use scoring stats and data grids to better understand the claim, a provider profile to give insight and background information on the claim and provider and, of course, take action on each and every claim. All within Nucleus.
              </p>
            </div>
          </div>
          <div id="panel2" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_action/ca-tutorial-2.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Claim, Patient &amp; Provider Data</h2>
              <h3>Claim Action Tutorial</h3>
              <p>
                Claim data alone is not enough to gain complete insight. That’s why Nucleus provides comprehensive background data and profiles of not only the claim, but also specific patient info and their claims history as well as an individual provider’s profile. All with the intelligent scoring and billing stats you’ll come to expect from Nucleus.
              </p>
            </div>
          </div>
          <div id="panel3" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_action/ca-tutorial-3.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Scoring, Stats &amp; Provider Profile</h2>
              <h3>Claim Action Tutorial</h3>
              <p>
                The intelligent scoring and unique ability to display information is a lot of what makes Nucleus such the game-changer that it is. Scoring is based on both provider and condition, then taken into consideration are variables such as aggregate billing patterns, known affiliations with fraudsters and the degree with which a condition’s score falls out of the norm. Stats are displayed a unique way to Nucleus. Based on colorful, easy to decipher graphs and charts you’ll be able to dig deeper into claims and better understand where your savings lies. Provider profiles offer rich background data on each of your providers to help give you a more intimate portrayal of how their billing practices might be affecting you.
              </p>
            </div>
          </div>
          <div id="panel4" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_action/ca-tutorial-4.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Data Grids &amp; Controls</h2>
              <h3>Claim Action Tutorial</h3>
              <p>
                The data grid is your list of claim actions broken down by numerous heading categories. To get the best view of your grid, close other windows on the page by clicking on the table arrow. To view or search for all necessary claims, click on the "All", "12 Months", "60 Days", "Same Day" or "Provider History" button. You can sort your claims by clicking on a column header and dragging and dropping them in the order that best works for you. To act on a claim, click on an individual or multiple checkbox and then select from the drop-down menu the particular action they require.
              </p>
            </div>
          </div>
        
          <div id="panel5" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/claim_action/ca-tutorial-5.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Take Action on Claims</h2>
              <h3>Claim Action Tutorial</h3>
              <p>
                With a complete list of your claims, it’s easy to search, sort and take action on any given claim. By clicking the checkbox next to an individual claim, or by the "Select All" checkbox, you can instantly and accurately approve, pay or delete any and all claims.
              </p>
            </div>
          </div>

        </div>
      </div>

      <div id="scroll_thumbs">
        <!-- <div id="scroll_nav_trigger_l" class="scroll_nav_triggers trigger_l"></div>
          <div id="scroller_wrap"> -->
            <ul id="scroll_nav" class="scroll_nav">
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-1.png'), "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to "Claim Action Overview", "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-2.png'), "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Claim,<br/>Patient &amp;<br/>Provider Data"), "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-3.png'), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Scoring,<br/>Stats &amp;<br/>Provider Profile"), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-4.png'), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Data Grids<br/>&amp; Controls"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-5.png'), "#panel5", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Take Action on Claims"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
            </ul>
          <!-- </div>
        <div id="scroll_nav_trigger_r" class="scroll_nav_triggers trigger_r"></div> -->
      </div>
      
      
      
    </div>
  </div>
</div>