<div class='tutorial_header'>
  <div class="modal_claim_wrap">
    <div id="scroll_pane">
      <div id="scrolling_segment">
        <div id="scroll_wrap">
          <div id="panel1" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/help_center/hc-tutorial-1.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Support Center Overview</h2>
              <h3>Help Center Tutorial</h3>
              <p>
                You'll never be left in the dark with the Nucleus Help Center. Providing new ways to navigate the user experience, you can chat online with our support team, watch video tutorials and visit HCI U. With Nucleus, help is only a click away.
              </p>
            </div>
          </div>
          <div id="panel2" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/help_center/hc-tutorial-2.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Live Chats with Customer Support</h2>
              <h3>Help Center Tutorial</h3>
              <p>
               Chat directly with one of the Nucleus experts with the click of a button. And some typing. Just click on the "Support Team Live Chat" icon and, just like in the Message Center, type messages, paste links or attach documents and data to have all your questions answered online.
              </p>
            </div>
          </div>
          <div id="panel3" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/help_center/hc-tutorial-3.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Search Knowledge Database</h2>
              <h3>Help Center Tutorial</h3>
              <p>
                Looking for How to Guides, Video Tutorials or answers to common topics and questions? Type your query in the "Search Knowledge Base" field and your related links (and the answers therein) will be with you in a second.
              </p>
            </div>
          </div>
          <div id="panel4" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/help_center/hc-tutorial-4.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Learn More at HCI U</h2>
              <h3>Help Center Tutorial</h3>
              <p>
                Want to know more about Nucleus, HCI and other fraud resources?  Click on the "HCI U Education Program" button and we'll redirect you to HCI's vast library of information and educational tools.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div id="scroll_thumbs">
        <ul id="scroll_nav" class="scroll_nav">
          <li>
            <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-1.png'), "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
            <%= link_to "Support Center Overview", "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
          </li>
          <li>
            <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-2.png'), "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
            <%= link_to raw("Live Chats with Customer Support"), "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
          </li>
          <li>
            <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-3.png'), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
            <%= link_to raw("Search Knowledge Database"), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
          </li>
          <li>
            <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-4.png'), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
            <%= link_to raw("Learn More<br/>at HCI U"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>