<div class='tutorial_header'>
  <div class="modal_claim_wrap">
    <div id="scroll_pane">
      <div id="scrolling_segment">
        <div id="scroll_wrap">
          <div id="panel1" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_search/ps-tutorial-1.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Provider Search Overview</h2>
              <h3>Provider Search Tutorials</h3>
              <p>
                Full of rich data, dynamic graphs and customizable widgets, the Provider Search is vast set of tools. You’ll be ready to find, uncover and research all the relevant data you’ll need on each provider. With powerful search tools you can locate a single provider, or a group of providers through various filters such as providers sequences, tax id numbers, names, scores, dates or specialty. You name it, Nucleus will find it.
              </p>
            </div>
          </div>
          <div id="panel2" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_search/ps-tutorial-2.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Highly-Targeted Searches</h2>
              <h3>Provider Search Tutorials</h3>
              <p>
                On the Provider Search page, first select the provider type you’re looking for from the drop-down menu. Next, select Batch Id, the HCI Product type and current status. From there you’ll be given a whole host of other options with which to accurately target the provider you wish to see. From claim numbers to patient sequence numbers and from social security numbers to patients first or last names, you’re sure to find what you’re looking for.
              </p>
            </div>
          </div>
          <div id="panel3" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_search/ps-tutorial-3.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Scoring, Stats &amp; Provider Profile</h2>
              <h3>Provider Search Tutorials</h3>
              <p>
                The intelligent scoring and unique ability to display information is a lot of what makes Nucleus the game-changer that it is. Scoring is based on both provider and condition, then taken into consideration are variables such as aggregate billing patterns, known affiliations with fraudsters and the degree with which a condition’s score falls out of the norm. Stats are displayed a unique way to Nucleus. Based on colorful, easy to decipher graphs and charts you’ll be able to dig deeper into claims and better understand where your savings lay. Provider profiles offer rich background data on each of your providers to help give you a more intimate portrayal of how their billing practices might be affecting you.
              </p>
            </div>
          </div>
          <div id="panel4" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_search/ps-tutorial-4.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Data Visualization &amp; Controls</h2>
              <h3>Provider Search Tutorials</h3>
              <p>
                Totally customizable to your preferences, the Provider Search allows you to view, search, dig and export data in whatever way works best for you. Set widget preferences by using the icons at the top right corner of each. Hide windows on a page by clicking on the small panel arrows. When you’re ready to view and use those windows again, simply click on the same arrow. Dig deeper into scatter plot graphs by rolling your mouse over the color-coded icons to uncover provider names and scores. Go one step further and click on the icon to view the Provider’s page. Your list of providers is also customizable by clicking on a column header then dragging and dropping them to optimize your own user-performance. Visually compelling and all under your control.
              </p>
            </div>
          </div>
        
          <div id="panel5" class="scroll_panel" >
            <div class="tutorial_column_left">
              <%= image_tag('/images/tutorials/provider_search/ps-tutorial-5.png') %>
            </div>
            <div class="tutorial_column_right">
              <h2>Data Grids &amp; Controls</h2>
              <h3>Provider Search Tutorials</h3>
              <p>
                Rich in content, the data grid is your list of providers broken down by numerous heading categories. To get the best view of your grid, close other windows on the page by clicking on the panel arrow. Then, you can sort your providers by clicking on a column header and dragging and dropping them in the order that best works for you. To view an individual provider, click on the individual Provider Name and you’ll be taken to their Provider Profile where a more detailed information will be available. 
              </p>
            </div>
          </div>

        </div>
      </div>

      <div id="scroll_thumbs">
        <!-- <div id="scroll_nav_trigger_l" class="scroll_nav_triggers trigger_l"></div>
          <div id="scroller_wrap"> -->
            <ul id="scroll_nav" class="scroll_nav">
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-1.png'), "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to "Provider Search Overview", "#panel1", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-2.png'), "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to "Highly-Targeted Searches", "#panel2", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-3.png'), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Scoring,<br/>Stats &<br/>Provider Profile"), "#panel3", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-4.png'), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Data Visualization<br/>& Controls"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
              <li>
                <%= link_to image_tag('/images/tutorials/general_nav/tutorial_nav_icon-5.png'), "#panel5", :class => "scroll_nav_trigger scroll_nav_trigger_image" %>
                <%= link_to raw("Data<br/>Grids &<br/>Controls"), "#panel4", :class => "scroll_nav_trigger scroll_nav_trigger_copy" %>
              </li>
            </ul>
          <!-- </div>
        <div id="scroll_nav_trigger_r" class="scroll_nav_triggers trigger_r"></div> -->
      </div>
      
      
      
    </div>
  </div>
</div>