<p>
  <b>Title:</b>
  <%=h @tutorial.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @tutorial.content %>
</p>

<p>
  <b>Page:</b>
  <%=h @tutorial.page_id %>
</p>


<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>