<p>
  <%= f.label :condition_count %><br />
  <%= f.text_field :condition_count %>
</p>
<p>
  <%= f.label :condition_code_count %><br />
  <%= f.text_field :condition_code_count %>
</p>
<p>
  <%= f.label :conditions_per_code %><br />
  <%= f.text_field :conditions_per_code %>
</p>
<p>
  <%= f.label :repair_count %><br />
  <%= f.text_field :repair_count %>
</p>
<p>
  <%= f.label :repair_percentage %><br />
  <%= f.text_field :repair_percentage %>
</p>