<div class="basic_panel_2">
  <h2>Provider: <%= condition.provider.full_name %><br/>Condition: <%= condition.condition_type.condition_type %></h2>
</div>
<div class="clear"></div>
<% form_for(@condition_stat) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :condition_id, :value => condition.id %>
  <div class="basic_panel_2">
    <% if condition.condition_type.condition_code == "SDES" %>
      <%= render :partial => "condition_stats/sdes_fields", :locals => {:f => f} %>
    <% elsif condition.condition_type.condition_code == "SFRO" %>
      <%= render :partial => "condition_stats/sfro_fields", :locals => {:f => f} %>
    <% else %>
      <%= render :partial => "condition_stats/base_fields", :locals => {:f => f} %>
    <% end %>
  </div>
  <div class="clear"></div>
  <div class="basic_panel_2">
    <p>
      <%= f.submit 'Submit' %> | <%= link_to 'Back', providers_path %>
    </p>
  </div>
<% end %>