<table class="expansion_table">
  <thead>
    <tr>
      <th class="text-right">Total Billed</th>
      <th class="text-right">Expected Billed</th>
      <th class="text-right">Spec Avg Billed</th>
      <th>Top Procedure Codes</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sbrd_total_billed text-right"><%= number_to_currency(pc.condition_billed) %></td>
      <td class="sbrd_expected_billed text-right"><%= number_to_currency(pc.expected_billed) %></td>
      <td class="sbrd_avg_billed text-right"><%= number_to_currency(pc.speciality_average_billed) %></td>
      <td class="sbrd_proc_codes">
        <table class="expansion_table">
          <thead>
            <tr>
              <th>Proc</th>
              <th>Total Submissions</th>
              <th class="text-right">Total Billed</th>
              <th class="text-right">Total Paid</th>
            </tr>
          </thead>
          <tbody>
            <% pc.procedure_submissions.each do |ps| %>
            <tr>
              <td class="sbrd_proc" title="<%= ps.procedure.procedure_description %>"><%= ps.procedure.procedure_code %></td>
              <td class="sbrd_submissions"><%= ps.total_submissions %></td>
              <td class="sbrd_total text-right"><%= number_to_currency(ps.total_billed) %></td>
              <td class="sbrd_paid text-right"><%= number_to_currency(ps.total_paid) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>