<p>
  <%= f.label :condition_code_count, "Destruction Code Count" %><br />
  <%= f.text_field :condition_code_count %>
</p>
<p>
  <%= f.label :condition_count, "Destruction Count" %><br />
  <%= f.text_field :condition_count %>
</p>
<p>
  <%= f.label :conditions_per_code, "Destructions per Code" %><br />
  <%= f.text_field :conditions_per_code %>
</p>