<table class="expansion_table">
  <thead>
    <tr>
      <th>Code Submissions</th>
      <th>Total Units</th>
      <th>Units per Code</th>
      <th>Total Billed</th>
      <th>Total Paid</th>
      <th>Spec Units per Code</th>
      <th>Spec Avg Billed</th>
      <th>Spec Avg Paid</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="sdes_code_count"><%= cs.condition_code_count %></td>
      <td class="sdes_count"><%= cs.condition_count %></td>
      <td class="sdes_per_code"><%= cs.conditions_per_code %></td>
      <td class="sdes_billed"><%= number_to_currency(cs.condition.condition_billed) %></td>
      <td class="sdes_paid"><%= number_to_currency(cs.condition.condition_paid) %></td>
      <td class="sdes_avg_count"><%= cs.condition.speciality_average_count %></td>
      <td class="sdes_avg_billed"><%= number_to_currency(cs.condition.speciality_average_billed) %></td>
      <td class="sdes_avg_paid"><%= number_to_currency(cs.condition.speciality_average_paid) %></td>
    </tr>
  </tbody>
</table>