<p>
  <%= f.label :condition_count, "Flap Count" %><br />
  <%= f.text_field :condition_count %>
</p>
<p>
  <%= f.label :repair_count, "Repair Count" %><br />
  <%= f.text_field :repair_count %>
</p>
<p>
  <%= f.label :repair_percentage, "Flap Repair Percentage" %><br />
  <%= f.text_field :repair_percentage %>
</p>