<div id="feedback_panel_1">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>23</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Improve Access to User Account</h3>
        <p>With the latest release of Nucleus, the general user account access was made easier to access and update, but providing an example of user name and password requirements would make it even better for the user.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>13</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Need better usability with claims environment.</h3>
        <p>One of the most important focus points is the usability of the Nucleus claims interface. The claims management area must be simple, effective and informative. With the continued improvements to the application, there are area's of the Claim Action page that could be addressed. This update might solve the most important usability issues of the v1.1 interface. In the past year we’ve seen improvements that make a great tool even better and...</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="feedback_panel_2">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>35</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Define access to notes.</h3>
        <p>Allow manager to assign access the notes depending on user needs.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>21</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Adjustment to Provider Profile information</h3>
        <p>The Provider Profile has greatly improved accessing critical information of providers. One area that could be adjusted for the user could be the ability to enter an address within the Provider Address window.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="feedback_panel_3">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>42</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Improve Access to User Account</h3>
        <p>With the latest release of Nucleus, the general user account access was made easier to access and update, but providing an example of user name and password requirements would make it even better for the user.
        </p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>26</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Need better usability with claims environment.</h3>
        <p>One of the most important focus points is the usability of the Nucleus claims interface. The claims management area must be simple, effective and informative. With the continued improvements to the application, there are area's of the Claim Action page that could be addressed. This update might solve the most important usability issues of the v1.1 interface. In the past year we’ve seen improvements that make a great tool even better and...
        </p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="feedback_panel_4">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>27</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Define access to notes.</h3>
        <p>Allow manager to assign access the notes depending on user needs.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>12</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Adjustment to Provider Profile information.</h3>
        <p>The Provider Profile has greatly improved accessing critical information of providers. One area that could be adjusted for the user could be the ability to enter an address within the Provider Address window.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="feedback_panel_5">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>35</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Improve Access to User Account</h3>
        <p>With the latest release of Nucleus, the general user account access was made easier to access and update, but providing an example of user name and password requirements would make it even better for the user.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>24</b><br/>
          votes
          </div>
        </div>
        <div class="vote_button">
          <%= link_to "Vote", "" %>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Need better usability with claims environment.</h3>
        <p>One of the most important focus points is the usability of the Nucleus claims interface. The claims management area must be simple, effective and informative. With the continued improvements to the application, there are area's of the Claim Action page that could be addressed. This update might solve the most important usability issues of the v1.1 interface. In the past year we’ve seen improvements that make a great tool even better and...</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>