<div id="feedback_panel_1">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>23</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Improve Access to User Account</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>13</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Need better usability with claims environment.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="feedback_panel_2">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>35</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Improve Access to User Account</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>21</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Need better usability with claims environment.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="feedback_panel_3">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>42</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Improve Access to User Account</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>26</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Need better usability with claims environment.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="feedback_panel_4">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>27</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Improve Access to User Account</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>12</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Need better usability with claims environment.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="feedback_panel_5">
  <ul class="feedback_list">
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>35</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Improve Access to User Account</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
    <li class="feedback_list_item">
      <div class="list_item_left">
        <div class="tutorial_icon">
          <div class="inner_icon">
          <b>24</b><br/>
          votes
          </div>
        </div>
      </div>
      <div class="list_item_right">
        <h3>Need better usability with claims environment.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu.</p>
        <div class="list_item_contact_wrap">
          by anonymous | <%= link_to "12 comments", "", :class => "tip", :title => "View all comments" %>
        </div>
      </div>
    </li>
  </ul>
</div>