<div class="idea_forum_btn">
  <span class="idea_forum_cross"></span>
  <%= link_to "Submit Your Idea", "", :class => "idea_modal", :rel => "#idea_post" %>
</div>
<div class="idea_forum_sidebar_panel idea_forum_sidebar_dark">
  <h3>Explore Idea Forum</h3>
  <ul class="help_west_list">
    <li><%= link_to "Popular Ideas", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Forum Appeals" %></li>
    <li><%= link_to "Ideas In Development", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Forum Claims" %></li>
    <li><%= link_to "Implemented Ideas", "#", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Forum Claim Setting" %></li>
  </ul>
</div>
<div class="idea_forum_sidebar_panel idea_forum_sidebar_dark">
  <% form_tag providers_path, :method => :get do %>
    <%= label_tag :search, "Search" %><br/>
    <%= text_field_tag :idea_search %><br/>
    <div id="idea_search_buttons">
      <%= submit_tag "Search", :name => nil, :class => 'medium_btn' %>
    </div>
  <% end %>
</div>
<div class="idea_forum_sidebar_panel idea_forum_sidebar_dark categories_information">
  <h3>Categories</h3>
  <ul class="help_west_list">
    <li><%= link_to "Appeals", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Forum Appeals" %></li>
    <li><%= link_to "Claims", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Forum Claims" %></li>
    <li><%= link_to "Claim Settings", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Forum Claim Setting" %></li>
    <li><%= link_to "Providers", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Forum Providers" %></li>
    <li><%= link_to "Reporting", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "Forum Reporting" %></li>
    <li><%= link_to "User Settings", "", :rel => "#coming_soon", :class => "tip coming_soon", :title => "User Settings" %></li>
  </ul>
</div>