        <div id="idea_forum_posts">
          <%= render :partial => 'feedbacks/post_header' %>

          <div id="center_idea_forum_content_wrap">
            <div id="feedback_panel_1">
              <ul class="feedback_list">
                <li class="feedback_list_item">
                  <div class="list_item_left">
                    <div class="tutorial_icon">
                      <div class="inner_icon">
                        <b class="vote1">23</b><br/>
                        votes
                      </div>
                    </div>
                    <%= link_to "Vote", "", :class => "vote_link", :vote_box => "vote1" %>
                  </div>
                  <div class="list_item_right">
                    <%= link_to "<h3>Improve Access to User Account</h3>", "" %>
                    <div class="forum_message_meta">Posted by <b>Chandra Shekar</b> to <%= link_to "Carma Med Group", "" %>, 05 Sept 10 at 10:26</div>
                    <p>With the latest release of Nucleus, the general user account access was made easier to access and update, but providing an example of user name and password requirements would make it even better for the user.</p>
                    <%= render :partial => 'idea_comments', :locals => {:count => "35"} %>
                  </div>
                </li>
                <li class="feedback_list_item">
                  <div class="list_item_left">
                    <div class="tutorial_icon">
                      <div class="inner_icon">
                      <b class="vote2">13</b><br/>
                      votes
                      </div>
                    </div>
                    <%= link_to "Vote", "", :class => "vote_link", :vote_box => "vote2" %>
                  </div>
                  <div class="list_item_right">
                    <%= link_to "<h3>Need better usability with claims environment.</h3>", "" %>
                    <div class="forum_message_meta">Posted by <b>Robert Saunders</b> to <%= link_to "ABC Medical", "" %>, 05 Sept 10 at 11:12</div>
                    <p>One of the most important focus points is the usability of the Nucleus claims interface. The claims management area must be simple, effective and informative. With the continued improvements to the application, there are area's of the Claim Action page that could be addressed. This update might solve the most important usability issues of the v1.1 interface. In the past year we’ve seen improvements that make a great tool even better and...</p>
                    <%= render :partial => 'idea_comments', :locals => {:count => "12"} %>
                  </div>
                </li>
                <li class="feedback_list_item">
                  <div class="list_item_left">
                    <div class="tutorial_icon">
                      <div class="inner_icon">
                      <b class="vote3">35</b><br/>
                      votes
                      </div>
                    </div>
                    <%= link_to "Vote", "", :class => "vote_link", :vote_box => "vote3" %>
                  </div>
                  <div class="list_item_right">
                    <%= link_to "<h3>Define access to notes.</h3>", "" %>
                    <div class="forum_message_meta">Posted by <b>Julie Ansil</b> to <%= link_to "HealthCare Insight", "http://wwww.hcinsight.com", :target => "_blank" %>, 05 Sept 11 at 9:03</div>
                    <p>Allow manager to assign access the notes depending on user needs.</p>
                    <%= render :partial => 'idea_comments', :locals => {:count => "18"} %>
                  </div>
                </li>
                <li class="feedback_list_item">
                  <div class="list_item_left">
                    <div class="tutorial_icon">
                      <div class="inner_icon">
                      <b class="vote4">21</b><br/>
                      votes
                      </div>
                    </div>
                    <%= link_to "Vote", "", :class => "vote_link", :vote_box => "vote4" %>
                  </div>
                  <div class="list_item_right">
                    <%= link_to "<h3>Adjustment to Provider Profile information.</h3>", "" %>
                    <div class="forum_message_meta">Posted by <b>Chandra Shekar</b> to <%= link_to "Carma Med Group", "" %>, 05 Sept 12 at 6:56</div>
                    <p>The Provider Profile has greatly improved accessing critical information of providers. One area that could be adjusted for the user could be the ability to enter an address within the Provider Address window.</p>
                    <%= render :partial => 'idea_comments', :locals => {:count => "9"} %>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>