<h1>Editing search_topic</h1>

<% form_for(@search_topic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @search_topic %> |
<%= link_to 'Back', search_topics_path %>