<div class="accordion_content_wrap">
  <table>
    <thead>
      <tr>
        <th>Address</th>
        <th>Address Line 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
      </tr>
    </thead>
    <tbody>
      <% provider.locations.each do |location| %>
        <tr class="<%=cycle('even', 'odd')%>">
          <td><%= location.address %></td>
          <td></td>
          <td><%= location.city %></td>
          <td><%= location.state.abbreviation %></td>
          <td><%= location.zipcode %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div id="accordion_map" class="widget">
  <div class="widget_header">
    <div class="widget_header_top">
      <h3><%= @location.address %>, <%= @location.city %>, <%= @location.state.abbreviation %>, <%= @location.zipcode %></h3>
    </div>
    <div class="widget_header_bottom">
      <%= render :partial => 'dashboard/widget_options' %>
    </div>
  </div>
  <%# hidden panel %>
  <div class="hidden dashboard_panel_options">
    <%= render :partial => 'dashboard_widgets/provider_score_options' %>
  </div>
  <div class="widget_content">
    <div id="gmap" class="charts_maps_wrap">

    </div>
  </div>
</div>