<% content_for :header do %>
	
	<% if ipad? %>
	  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<% end %>
	
<% end %>
<%= render :partial => 'providers/provider_profile_header', :locals => {:provider => @provider} %>
<div id="panel_layout" class="clear">
  <div id="padded_panel_layout">
    <div class="full_panel provider_heading_full">
      <%= render :partial => 'providers/provider_heading_full', :locals => {:provider => @provider} %>
    </div>
    <%= render :partial => 'providers/provider_flags' + APP['appversion'] %>
    <div id="panel_south" class="ui-layout-south">
      <%= render :partial => 'modals/modal_provider_accordion', :locals => {:m => @map, :provider => @provider} %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script>
    var lng = parseFloat("<%= @long %>");
    var lat = parseFloat("<%= @lat %>");
    var mapOpts = {
      zoom : 15,
      svc : true // Street View Control
    }
    // var cor = <%= @coordsj[0].to_f %>;
    $(document).ready(function() {
      
      c2Accordion.setAccordion();
      var $trigger = $('#provider_address');
      c2Accordion.triggerAccordion($trigger);
      gmaps.initMap('gmap', lng, lat, mapOpts);
      
      baseActions.tutorialTrigger();
      
      // Column Chart 1
      $.getScript('../javascripts/data/modalAccordionColumnData.js');
      
      // Column Chart 2
      $.getScript('../javascripts/data/modalAccordionColumnData2.js');
      
      // Line Chart
      $.getScript('../javascripts/data/modalAccordionLineData.js');
    });
  </script>
<% end %>
