<h1>Editing procedure</h1>

<% form_for(@procedure) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :procedure_code %><br />
    <%= f.text_field :procedure_code %>
  </p>
  <p>
    <%= f.label :procedure_description %><br />
    <%= f.text_field :procedure_description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @procedure %> |
<%= link_to 'Back', procedures_path %>