<h1>Listing procedures</h1>

<table>
  <tr>
    <th>Procedure code</th>
    <th>Procedure description</th>
  </tr>

<% @procedures.each do |procedure| %>
  <tr>
    <td><%=h procedure.procedure_code %></td>
    <td><%=h procedure.procedure_description %></td>
    <td><%= link_to 'Show', procedure %></td>
    <td><%= link_to 'Edit', edit_procedure_path(procedure) %></td>
    <td><%= link_to 'Destroy', procedure, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New procedure', new_procedure_path %>