<h1>New client_connection</h1>

<% form_for(@client_connection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :client_id %><br />
    <%= f.text_field :client_id %>
  </p>
  <p>
    <%= f.label :follower_count %><br />
    <%= f.text_field :follower_count %>
  </p>
  <p>
    <%= f.label :following_count %><br />
    <%= f.text_field :following_count %>
  </p>
  <p>
    <%= f.label :group_count %><br />
    <%= f.text_field :group_count %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', client_connections_path %>