<h1>Listing condition_types</h1>

<table>
  <tr>
    <th>Condition type</th>
  </tr>

<% @condition_types.each do |condition_type| %>
  <tr>
    <td><%=h condition_type.condition_type %></td>
    <td><%= link_to 'Show', condition_type %></td>
    <td><%= link_to 'Edit', edit_condition_type_path(condition_type) %></td>
    <td><%= link_to 'Destroy', condition_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New condition_type', new_condition_type_path %>