<div id="report_output_panel" class="">
    <div class="report_output_item">
    <%= label_tag "Output"%>
    <%= select(:report, :report_selection, @report_params.report_output_types) %>
    </div>
    <div class="report_output_item checkbox">
      <%= check_box_tag :reports %> Preserve Report
    </div>
    <div class="report_output_item report_buttons">
      <%= submit_tag "Search", :name => nil, :class => 'medium_btn' %>
      <%= link_to "Clear", "", :id => "report_clear" %>
    </div>
</div>
