<%= render :partial => 'reports/reports_header' %>
<% form_tag reports_path, :method => :get do %>
<div id="panel_layout" class="clear">
  <div id="inner_panel" class="panel ui-layout-center">
    <div class="panel_set_4">
      <%= render :partial => 'reports/report_selection' %>
    </div>
    <div class="panel_set_5">        
      <%= render :partial => 'reports/report_schedule' %>
    </div>
    <div class="clear"></div>
    <div class="panel_set_5">
      <%= render :partial => 'reports/report_parameters' %>
    </div>
    <div class="panel_set_4">
      <%= render :partial => 'report_output' %>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% end %>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      adminAction.setupCalendars();
    });
  </script>
<% end %>