<%= render :partial => 'reports/reports_header' %>
<div id="panel_layout" class="clear">
  <div id="inner_panel" class="panel ui-layout-center">
    <div class="panel_set_4">
      <%= render :partial => 'reports/report_selection' %>
    </div>
    <div class="panel_set_5">        
      <div class="basic_panel_5">
        <h3 class="grey_header">Scheduling</h3>
        <div class="report_panel_wrap">
          <% form_tag reports_path, :method => :get do %>
            <ul class="left">
              <li class="left"><%= radio_button_tag 'time_frame', 'Generate Now', true %> Generate Now</li>
              <li class="left"><%= radio_button_tag 'time_frame', 'Schedule' %> Schedule</li>
            </ul>
            <div id="report_schedule_panel">
              <ul class="heading">
                <li class="left"><%= radio_button_tag 'report_frequency', 'Once' %> Once</li>
                <li class="left"><%= radio_button_tag 'report_frequency', 'Daily' %> Daily</li>
                <li class="left"><%= radio_button_tag 'report_frequency', 'Weekly', true %> Weekly</li>
                <li class="left"><%= radio_button_tag 'report_frequency', 'Monthly' %> Monthly</li>
                <li class="left"><%= radio_button_tag 'report_frequency', 'Quarterly' %> Quarterly</li>
                <li class="left form_combo"><%= radio_button_tag 'report_frequency', 'xdays' %> <span class="left block">Every</span> <%= text_field_tag :day_count, nil, :id => "report_frequency_day_count" %> <span class="left block">Days</span></li>
              </ul>
              <ul id="schedule_dates" class="left">
                <li class="left">
                  <span class="right block date_field"><%= text_field_tag :schedule_start_date, nil, {:id => "schedule_start_date", :size => 15} %></span>
                  <span class="right block">Start Date</span>
                </li>
                <li class="left">
                  <span class="right block date_field"><%= text_field_tag :schedule_end_date, nil, {:id => "schedule_end_date", :size => 15} %></span>
                  <span class="right block">End Date</span>
                  <%= radio_button_tag 'schedule_date', 'end' %> 
                </li>
                <li class="left">
                  <%= text_field_tag :schedule_time, nil, {:id => "schedule_time", :size => 15} %>
                  <span class="right block">Time</span>
                </li>
                <li class="left form_combo">
                  <span id="occurence" class="right block">Occurences</span>
                  <%= text_field_tag :schdule_end_date, nil, :id => "report_schedule_end_day_count" %>
                  <span class="right block">End After</span>
                  <%= radio_button_tag 'schedule_date', 'end_days' %> 
                </li>
                <li class="left"></li>
                <li class="left">
                  <%= radio_button_tag 'schedule_date', 'no_end' %>
                  <span class="left block">No End Date</span>
                </li>
                <li class="left">
                  <%= label_tag "Email*", nil, :class => "left clear"%>
                  <%= text_field_tag :report_email, nil, :id => "report_email", :class => "left clear"%>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      adminAction.setupCalendars();
    });
  </script>
<% end %>