<div class="form_box">
<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_area :address, :rows => 5, :cols => 27 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state_id %><br />
    <%= collection_select(:location, :state_id, State.all, :id, :full_name) %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
    <%= f.hidden_field :provider_id, :value => provider.id %>
    <div class="clear"></div>
  <p>
    <%= f.submit 'Submit' %>
  </p>
</div>
<% end %>