<title><%= h(yield(:title) || "Welcome To ") %> - Nucleus Prototype</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta name="description" content="<%= h(yield(:description) || "Nucleus Prototype") %>">
<meta name="copyright" content="Copyright 2010 HealthCare Insight">
<meta name="title" CONTENT="Nucleus Prototype">
<link ref="shortcut icon" href="favicon.ico"   type="image/ico" />

<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'reset-fonts-grids', 'alerts/jquery.alerts', 'jquery.jqplot', :cache => true %>
<%= stylesheet_link_tag 'application' %>

<!--[if IE ]>
  <link rel="stylesheet" type="text/css" href="../stylesheets/IE.css" />
<![endif]-->

<%#= ******** JAVASCRIPTS ********** %>
<!--[if IE]><script language="javascript" type="text/javascript" src="javascripts/excanvas.js"></script><![endif]-->
<%= javascript_include_tag 'jquery', 'jqtools', 'jqui', 'jquery.easing', 'jQueryTimer', 'jquery.alerts', 'jquery.validate', 'datatables', 'app_validations', 'jquery.jqplot', 'plugins/jqplot.pieRenderer.min.js', 'plugins/jqplot.dateAxisRenderer.min.js', 'plugins/jqplot.categoryAxisRenderer.min.js', 'plugins/jqplot.barRenderer.min.js', 'plugins/jqplot.cursor.min.js', 'plugins/jqplot.dateAxisRenderer.min.js', :cache => true %>
<%= javascript_include_tag 'chart_init', 'application' %>
 