<div class="side_wrap">
  <div id="logo">Nucleus</div>
  <%= image_tag("header/account_brand.png", :alt => "Molina Healthcare", :id => "account_brand") %>
</div>
<div id="nav_wrapper">
<%= render :partial => 'layouts/main_nav' %>
  <div id="icon_nav">
    <ul class="icon_nav">
      <li id="icon_nav_1">
        <%= link_to "#" %>
      </li>            
      <li id="icon_nav_2">             
        <%= link_to "#" %>
      </li>            
      <li id="icon_nav_3">             
        <%= link_to "#" %>
      </li>            
      <li id="icon_nav_4">             
        <%= link_to "#" %>
      </li>            
      <li id="icon_nav_5">             
        <%= link_to "#" %>
      </li>            
      <li id="icon_nav_6">             
        <%= link_to "#" %>
      </li>            
      <li id="icon_nav_7">             
        <%= link_to "#" %>
      </li>
    </ul>
  </div>
</div>
