<div id="icon_nav">
  <ul class="icon_nav">
    <li id="icon_nav_2">
      <%= link_to "Nucleus Quick Launch", quick_launch_path %>
    </li>
    <li id="icon_nav_3">
      <%= link_to "Nucleus Dashboard", dashboard_path %>
    </li>
    <li id="icon_nav_4">
      <%= link_to "Nucleus Messages", messages_path %>
    </li>
    <li id="icon_nav_5">
      <%= link_to "Dashboard", help_path %>
    </li>
    <li id="icon_nav_6">
      <%= link_to "Help", client_feedback_path %>
    </li>
    <li id="icon_nav_7">
      <%= link_to "Logout", logout_path %>
    </li>
  </ul>
</div>