<div id="icon_nav">
  <ul class="icon_nav">
    <li id="icon_nav_2">
      <%= link_to "Nucleus Quick Launch", quick_launch_path, :class => "tip", :title => "Quick Launch" %>
    </li>
    <li id="icon_nav_3">
      <%= link_to "Nucleus Dashboard", dashboard_path, :class => "tip", :title => "Dashboard" %>
    </li>
    <li id="icon_nav_4">
      <%= link_to "Nucleus Messages", messages_path, :class => "tip", :title => "Message Center" %>
    </li>
    <li id="icon_nav_5">
      <%= link_to "Dashboard", help_path, :class => "tip", :title => "Help Center" %>
    </li>
    <li id="icon_nav_6">
      <%= link_to "Help", client_feedback_path, :class => "tip", :title => "Idea Center" %>
    </li>
    <li id="icon_nav_7">
      <%= link_to "Logout", logout_path, :class => "tip", :title => "Logout" %>
    </li>
  </ul>
</div>