<div id="icon_nav">
  <ul class="icon_nav">
    <li id="icon_nav_1">
      <%= link_to "#" %>
    </li>
    <li id="icon_nav_2">
      <%= link_to "#" %>
    </li>
    <li id="icon_nav_3">
      <%= link_to "Nucleus Messages", messages_path %>
    </li>
    <li id="icon_nav_4">
      <%= link_to "Nucleus Client Feedback", client_feedback_path %>
    </li>
    <li id="icon_nav_5">
      <%= link_to "quick_launch", quick_launch_path %>
    </li>
    <li id="icon_nav_6">
      <%= link_to "Help", help_path %>
    </li>
    <li id="icon_nav_7">
      <%= link_to "logout", logout_path %>
    </li>
  </ul>
</div>