<ul class="nav_ul">
  <li>
    <b><%= link_to "Claim", provider_search_path %></b>
  </li>
  <li>
    <b><%= link_to "Provider", provider_search_path %></b>
  </li>
  <li class="last">
    <b><%= link_to "Patient", provider_search_path %></b>
  </li>
</ul>

<ul class="nav_ul secondary_nav_ul">
  <li>
    <%= link_to "Appeals", "#" %>
  </li>
  <li>
    <%= link_to "Batch", "#" %>
  </li>
  <li>
    <%= link_to "Invoicing", "#" %>
  </li>
  <li>
    <%= link_to "Reference", "#" %>
  </li>
  <li>
    <%= link_to "Reports", "#" %>
  </li>
  <li>
    <%= link_to "Repository", "#" %>
  </li>
  <li class="last">
    <%= link_to "Settings", "#" %>
  </li>
</ul>
