<ul class="nav_ul">
  <li>
    <b><%= link_to "Claim", "#" %></b>
  </li>
  <li>
    <b><%= link_to "Provider", "#" %></b>
  </li>
  <li>
    <b><%= link_to "Patient", "#" %></b>
  </li>
  <li>
    <%= link_to "Appeals", "#" %>
  </li>
  <li>
    <%= link_to "Batch", "#" %>
  </li>
  <li>
    <%= link_to "Invoicing", "#" %>
  </li>
  <li>
    <%= link_to "Reference", "#" %>
  </li>
  <li>
    <%= link_to "Reports", "#" %>
  </li>
  <li>
    <%= link_to "Repository", "#" %>
  </li>
  <li>
    <%= link_to "Settings", "#" %>
  </li>
</ul>
