<ul class="nav_ul">
  <li>
    <%= link_to "Claim", "#" %>
  </li>
  <li>
    <%= link_to "Provider", "#" %>
  </li>
  <li>
    <%= link_to "Patient", "#" %>
  </li>
  <li>
    <%= link_to "Appeals", "#" %>
  </li>
  <li>
    <%= link_to "Batch", "#" %>
  </li>
  <li>
    <%= link_to "Invoicing", "#" %>
  </li>
  <li>
    <%= link_to "Reference", "#" %>
  </li>
  <li>
    <%= link_to "Reports", "#" %>
  </li>
  <li>
    <%= link_to "Repository", "#" %>
  </li>
  <li>
    <%= link_to "Settings", "#" %>
  </li>
</ul>
