<ul class="nav_ul topnav">
  <li>
    <b><%= link_to "Claim", '', :class => "tip", :title => "Claims Summary" %></b>
    <ul class="subnav">
      <li><%= link_to "Claims Search", claims_path %></li>
      <li><%= link_to "Claims Summary", "" %></li>
      <li><%= link_to "Claims Action", "" %></li>
    </ul>
  </li>
  <li>
    <b><%= link_to "Provider", provider_search_path, :class => "tip", :title => "Provider Search" %></b>
  </li>
  <li class="last">
    <b><%= link_to "Patient", provider_search_path, :class => "tip", :title => "Patient List" %></b>
  </li>
</ul>

<ul class="nav_ul secondary_nav_ul">
  <li>
    <%= link_to "Appeals", "#", :class => "tip", :title => "Appeals List" %>
  </li>
  <li>
    <%= link_to "Batch", "#", :class => "tip", :title => "Batch List" %>
  </li>
  <li>
    <%= link_to "Reports", reports_path, :class => "tip", :title => "Report Generator" %>
  </li>
  <li>
    <%= link_to "Settings", client_path(current_client), :class => "tip", :title => "Client Settings" %>
  </li>
  <li class="last">
    <%= link_to "Reference", "#", :class => "tip", :title => "Reference Index" %>
  </li>
</ul>
