<ul class="nav_ul topnav">
  <li class="claim">
    <%= link_to "Claim", '', :class => "tip claim_a", :title => "Claims Summary" %>
    <ul class="subnav">
      <li><%= link_to "Claims Search", claims_path %></li>
      <li><%= link_to "Claims Line Search", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
      <li><%= link_to "Logic Search", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Provider", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Provider Search" %>
    <ul class="subnav">
      <li><%= link_to "Provider Search", provider_search_path %></li>
      <li><%= link_to "CIU Referral", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Patient", "", :class => "tip", :title => "Patient List" %>
    <ul class="subnav">
      <li><%= link_to "Patient Search", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Appeal", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Appeals List" %>
    <ul class="subnav">
      <li><%= link_to "Appeal", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
      <li><%= link_to "Create Appeal", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
      <li><%= link_to "Category Management", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Batch", "", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Batch List" %>
    <ul class="subnav">
      <li><%= link_to "Batch Search", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Reports", "", :class => "tip", :title => "Report Generator" %>
    <ul class="subnav">
      <li><%= link_to "Report Center", reports_path %></li>
    </ul>
  </li>
  <li>
    <%= link_to "Settings", client_path(current_client), :class => "tip coming_soon", :rel => "#coming_soon", :title => "Client Settings" %>
    <ul class="subnav">
      <li><%= link_to "Client Search", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
      <li><%= link_to "Group Search", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
      <li><%= link_to "Invoice Parameter Search", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
      <li><%= link_to "User", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
    </ul>
  </li>
  <li class="last">
    <%= link_to "Reference", "#", :class => "tip coming_soon", :rel => "#coming_soon", :title => "Reference Index" %>
    <ul class="subnav">
      <li><%= link_to "Crosswalk", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
      <li><%= link_to "Dental Board", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
      <li><%= link_to "Medical Board", "", :class => "coming_soon", :rel => "#coming_soon" %></li>
    </ul>
  </li>
</ul>

<!-- <ul class="nav_ul secondary_nav_ul">
  <li>
    <%= link_to "Appeals", "#", :class => "tip", :title => "Appeals List" %>
  </li>
  <li>
    <%= link_to "Batch", "#", :class => "tip", :title => "Batch List" %>
  </li>
  <li>
    <%= link_to "Reports", reports_path, :class => "tip", :title => "Report Generator" %>
  </li>
  <li>
    <%= link_to "Settings", client_path(current_client), :class => "tip", :title => "Client Settings" %>
  </li>
  <li class="last">
    <%= link_to "Reference", "#", :class => "tip", :title => "Reference Index" %>
  </li>
</ul> -->
