<div class="overlay" id="overlay"> 
    <div class="close"></div>
    <div class="contentWrap"></div>
</div>

<div class="overlay" id="overlay2"> 
    <div class="close"></div>
    <div id="map" class="contentWrap"></div>
</div>

<div class="tutorial_overlay" id="tutorial_modal">
  <div class="close"></div>
  <div class="contentWrap">
    
  </div>
</div>

<div class="coming_soon" id="coming_soon">
  <div class="close"></div>
  <div class="contentWrap">
    <div class='tutorial_header'>
      <div class="modal_claim_wrap">
        <%= image_tag("/images/inner_pages/coming-soon.jpg", :alt => "Coming Soon") %>
      </div>
    </div>
  </div>
</div>

<div class="confirm" id="confirm">
  <div class="close"></div>
  <div class="contentWrap confirm_body">
    <div id="thead">
      <span class="modal_title">Confirm Icon Removal</span>
    </div>
    <div class="confirm_content">
      <%= image_tag("/images/inner_pages/confirm_icon.png", :alt => "Confirm Removal") %>
      <p>Are you sure you want to remove this widget?</p>
    </div>
    <div id="confirm_links">
      <%= link_to "Yes", "", :class => "confirm_yes medium_btn" %>
      <%= link_to "No", "", :class => "confirm_no close" %>
    </div>
  </div>
</div>

<div class="idea_post" id="idea_post">
  <div class="close"></div>
  <div class="contentWrap confirm_body">
    <div id="thead">
      <span class="modal_title">Submit an Idea</span>
    </div>
    <% form_tag("/feedbacks/new") do %>
      <div id="idea_message" class="modal_message_widget">
        <div class="form_field">
          <%= label_tag :title, "Idea Title" %><br />
          <%= text_field_tag :title %>
        </div>
        <div class="form_field">
          <%= label_tag :idea_category, "Idea Type" %><br />
          <%= collection_select(:feedback, :idea_category, IdeaCategory.all, :id, :idea_type, :prompt => true) %>
        </div>
        <div class="form_field">
          <%= label_tag :description, "Description" %><br />
          <%= text_area_tag :description %>
        </div>
      </div>
      <div id="idea_message_image" class="modal_message_widget">
        
      </div>
      <div class="clear"></div>
      <div id="idea_links">
        <%= link_to "Send", "", :class => "medium_btn" %>
        <%= link_to "Cancel", "", :class => "confirm_no close" %>
      </div>
    <% end %>
  </div>
</div>

<div class="message_post" id="message_post">
  <div class="close"></div>
  <div class="contentWrap confirm_body">
    <div id="thead">
      <span class="modal_title">Send an Email</span>
    </div>
    <% form_tag("/messages/new") do %>
      <div id="email_message" class="modal_message_widget">
        <div class="form_field">
          <%= label_tag :email, "Email Address" %><br />
          <%= text_field_tag :email %>
        </div>
        <div class="form_field">
          <%= label_tag :message, "Message" %><br />
          <%= text_area_tag :message %>
        </div>
      </div>
      <div id="email_message_image" class="modal_message_widget">
        
      </div>
      <div class="clear"></div>
      <div id="email_links">
        <%= link_to "Send", "", :class => "medium_btn" %>
        <%= link_to "Cancel", "", :class => "confirm_no close" %>
      </div>
    <% end %>
  </div>
</div>
