<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => "layouts/headmeta" %>
  <%= yield :header %>
</head>
<body class="yui-skin-sam v2">
  <!-- Application Layout -->
  <div id="wrapper">
	  <div id="hd" class="left">
      <%= render :partial => "layouts/header", :locals => {:client => current_client} %>
	  </div>
    <div id="bd" class="left">
      <%= yield %>
      <div class="clear"></div>
    </div>
    <div id="ft" class="left">
      <%= render :partial => "layouts/footer" %>
    </div>
	</div>
	<div class="clear"></div>
  <%= render :partial => 'layouts/overlay' %>
  <%= render :partial => "layouts/scripts" %>
</body>
</html>


