<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <%= render :partial => "layouts/modal_headmeta" %>
    <%= yield :header %>
  </head>
  <body id="v2" class="yui-skin-sam modal">
    <!-- Application Layout -->
    <div id="wrapper">
      <div id="bd" class="left">
        <div id="main_content" class="left">
          <%= yield %>
        <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <%= render :partial => 'layouts/overlay' %>
    <%= render :partial => "layouts/scripts" %>
  </body>
</html>